<h2><%= page.title %></h2>
<ul class="records">
  <% for result in results -%>
  <li>
    <%= link_to result.title, "/#{result.class.to_s.underscore}/#{result.id}"%>
  </li>
  <li><p><%= result.description %></p></li>
  <% end -%>
</ul>
