<% form_for_item @current_object, title do |f| -%>
 	<%= available_item_types_for_ck %>
	<div class="ckInsert">
		Insert templates : 
		<a id="fck_insert_gallery" href="/admin/ck_display/tabs/gallery">Gallerie</a>
	</div>
  	<%= f.advanced_editor(  :body, 
							:label => I18n.t('article.field.article_label')+ ' * :',
							:hint => I18n.t('article.field.article_hint')) %>
<% end -%>
