<% item_show( :title => 'Document Audio',  :object => @current_object ) do %>

	<p id='preview'></p>
	<script type='text/javascript' src='/videoplayer/swfobject.js'></script>
	<script type='text/javascript'>
		var s1 = new SWFObject('/videoplayer/player.swf','ply','470','20','9','#ffffff');
		s1.addParam('allowfullscreen','true');
		s1.addParam('allowscriptaccess','always');
		s1.addParam('wmode','opaque');
		s1.addParam('flashvars', 'file=<%= url_for_file_column(@current_object, "file_path") %>');
		s1.write('preview');
	</script>

	<%= link_to "Télécharger", url_for_file_column(@current_object, :file_path) %><br />
<% end %>