.DS\_Store
coverage/*
*.tmproj
nbproject/
Capfile
config/database_yml
config/initializers/action_mailer.rb
config/customs/sa_config.yml
config/deploy.rb
config/locales/old*.yml
db/schema.rb
db/cstore/**
tmp/**/*
db/*.sqlite3
doc/api
doc/app
doc/plugins
doc/*.dot
public/uploaded_files/**/*
public/uploads/*



