[submodule "vendor/engines/blankapplication-translator"]
	path = vendor/engines/blankapplication-translator
	url = git@forge.thinkdry.com:/home/git/blankapplication-translator.git
[submodule "vendor/plugins/blankapplication-translator"]
	path = vendor/plugins/blankapplication-translator
	url = git@forge.thinkdry.com:/home/git/blankapplication-translator.git
