.DS\_Store
coverage/*
*.tmproj
.tmp*
nbproject/
Capfile
config/database_yml
config/initializers/action_mailer.rb
config/customs/sa_config.yml
config/customs/action_mailer.yml
config/deploy.rb
config/locales/old*.yml
db/schema.rb
db/cstore/**
tmp/**/*
db/*.sqlite3
doc/api
doc/app
doc/plugins
doc/*.dot
public/uploaded_files/**/*
public/uploads/*
public/images/captcha
public/javascripts/all.js
public/javascripts/cache/
public/stylesheets/cache/
vendor/gems/**/ext/**/*
vendor/**/.git/**/*
