<div id="content_bis">
	<div id="area_CONTENUS">
		<div class="titre"><%= image_tag Publication.icon %><strong><%=I18n.t('general.publication').pluralize%></strong></div>
		<% @current_objects.each do |co| %>
			<%= item_in_list co %>
		<% end %>
		<%= link_to I18n.t('publication.add_a_new_publication'), new_item_path(Publication), :class => "add_item" %>
	</div>
</div>
