<div id="content_bis">
	<div id="area_CONTENUS">
		<div class="titre"><%= image_tag Publication.icon %><strong>Publications</strong></div>
		<% @current_objects.each do |co| %>
			<%= item_in_list co %>
		<% end %>
		<%= link_to "Ajouter une publication", new_item_path(Publication), :class => "add_item" %>
	</div>
</div>
