<% item_show(:title => 'Publication',  :object => @current_object ) do %>
	<%# TODO: Fill this view %>
	<%= link_to File.basename(@current_object.file_path), url_for_file_column(@current_object, 'file_path') if @current_object.file_path %>
	
	<% if @current_object.link %>
		<p>
			Url:
			<%= link_to @current_object.link, @current_object.link %>
		</p>
	<% end %>
<% end %>