<div class="file">

	<% prefix = "article[new_file_attributes][]" %>

	<% fields_for prefix, file do |file_form| -%>

		<%= error_message_on file, :article_file, "Le fichier ", '<br />' %>
		
		<%= file_column_field file_form, "file_path" %>
	
	<% end %>
	
	<%= link_to_function 'Delete', "$(this).up('.article_file').remove()" %>

	<br/>
</div>