<% item_show( :title => 'Article',  :object => @current_object ) do %>
	<p>
		<%= @current_object.body %>
	</p>

	Fichiers joints :<br />
	<% @current_object.article_files.each do |af| %>
		<%= af.file_path.split('/').last %><%= link_to "Télécharger", url_for_file_column(af, :file_path) %><br />
	<% end %>
<% end %>