<div id="right_menu">
	<span class="titre">Filtrer</span><br>
	<ul>
		<% 
			[:article, :image, :artic_file, :video, :audio, :publication].each do |elem|
				model = elem.to_s.classify.constantize
				p model
				concat\
					content_tag(:li, link_to(model.label.pluralize, send("new_#{elem}_path")),
						:style => "list-style-image:url(/images/#{model.icon});list-style-position:inside"),
					binding
			end
		%>
	</ul>
</div>
<div id="Add_menu">
	<span class="titre">Ajouter</span><br>
	<div id="slct_ADD">
		<form name="form1" method="post" action="" id="form1">
			<select name="slct_filtre" id="slct_filtre">
				<option selected>
					--------
				</option>
				<option value="http://think-alternative.net:3060/workspaces/876922099/articles">
					Un article
				</option>
				<option value="http://think-alternative.net:3060/workspaces/876922099/images">
					Une image
				</option>
				<option value="http://think-alternative.net:3060/workspaces/876922099/audios">
					Fichier Audio
				</option>
				<option value="http://think-alternative.net:3060/workspaces/876922099/videos">
					Fichier Vidéo
				</option>
				<option value="http://think-alternative.net:3060/workspaces/876922099/artic-files">
					Fichier
				</option>
				<option value="http://think-alternative.net:3060/workspaces/876922099/publi">
					Une publication
				</option>
			</select>
		</form>
	</div>
</div>