<h1>Créer un nouvel espace de travail</h1>

Informations obligatoires

<% form_for @workspace, :builder => LabelFormBuilder do |f| -%>
		
	<%= f.text_field :name, :label => "Nom de l'espace de travail" %>

	<%= f.text_field :description, :label => "Description de l'espace de travail" %>
	
	<%= f.submit "Créer" %>

<% end %>