 <% @workspaces.each do |w| %>
  <div class="area_WS">
    <h4><%= w.title %></h4>
    <% w.roles.uniq.each do |r| %>
      <%= I18n.t('general.role.'+r.name)%> :
      <% w.users_by_role(r.name).each do |u| %>
        <%= link_to u.full_name+', ', user_path(u.id) %>
      <% end %><br />
  	<% end %>
    <br />
  	<%= link_to I18n.t('workspace.edit.manage_users_and_rights'), edit_workspace_path(w.id) %>
  	</div>
  <% end %>