<div class="user">
	<% new_or_existing = user.new_record? ? 'new' : 'existing' %> 
	<% prefix = "workspace[#{new_or_existing}_user_attributes][]" %>

	<% fields_for prefix, user do |user_form| -%>

		<%= user_form.text_field :user_login, :class => :text_field %>
		<%= content_tag :div, nil, :class => "autocomplete" %>
		<%= user_form.select :role_id, Role.find(:all).collect { |r| [r.name, r.id] } %>
	
	<% end %>
	
	<%= link_to_function 'Delete', "$(this).up('.user').remove()" %>

	<br/>
</div>