<h1>Enregistrer un nouvel espace de travail</h1>

<% form_for @workspace, :html => {:multipart => true}, :builder => LabelFormBuilder do |f| -%>
	
	<%= f.text_field :name %>
	
	
		<% 5.times do |i| %>
			<% fields_for "workspace[users_workspaces[#{i}]]" do |fe| %>
			<%= fe.text_field :user_id %>
			<%= fe.select :role_id, Role.find(:all).collect {|p| [ p.name, p.id ] } %><br />
			<% end %>
		<% end %>

	
	<%= f.submit "Créer cet espace de travail" %>
	
<% end -%>	
