<h1>Enregistrer un nouvel espace de travail</h1>

<% form_for @working_space, :html => {:multipart => true}, :builder => LabelFormBuilder do |f| -%>
	
	<%= f.text_field :name %>
	
	<% f.fields_for @users_working_spaces do |fe| %>
	  <% i = 0 %>
		<% while i < 5 %>
			<%= fe.text_field :user %>
			<%= fe.select "role", Role.find(:all).collect {|p| [ p.name, p.id ] } %>
			<% i = i + 1 %>
		<% end %>
	<% end %>
	
	<%= f.submit "Créer cet espace de travail" %>
	
<% end -%>	
