<div id="player_<%=object.class.to_s + "_" + object.id.to_s%>"></div>
<script type='text/javascript'>
  //cancel=false;
  var so = new SWFObject('/videoplayer/player.swf','ply','470','20','9','#000000');
  so.addParam('allowfullscreen','true');
  so.addParam('allowscriptaccess','always');
  so.addParam('wmode','opaque');
  so.addParam('flashvars','&file=<%= object.path_to_encoded_file %>&backcolor=#D86C27');
  so.write("player_<%=object.class.to_s + "_" + object.id.to_s%>");
</script>