<script type="text/javascript">
    // var cancel=true;
    var item_id = '<%= object.id %>';
    get_progress();
    function get_progress(){
        new Ajax.Request("/admin/audios/"+item_id+"/get_audio_progress?check=true", {method: 'get', asynchronous:true, evalScripts:true,
            onSuccess: function(transport){
                if(transport.responseText == 'encoded'){
                    new Ajax.Updater("progress","/admin/audios/"+item_id+"/get_audio_progress?check=false", {method: 'get',asynchronous:true, evalScripts:true});
                }else if(transport.responseText == 'encoding_error'){
                    new Ajax.Updater("progress","/admin/audios/"+item_id+"/get_audio_progress?check=false&status=fail", {method: 'get', asynchronous:true, evalScripts:true});
                }else{
                    setTimeout("get_progress()", 10000);
                }
            }});
    }
</script>

<div id="states">
    <% if object.state == 'uploaded' %>
        <%= object.state.capitalize%>
        <%= image_tag "/images/loader.gif" %>
    <% else %>
        <%= object.state.capitalize %>
    <% end %>
</div>
