<%= superadmin_tabs_generator() %>

<div class="objectList">
	<div class="blockCornerLeft"></div><div class="blockElementHeader sevH">
		<span id="item_count">Translations manager</span>
	</div><div class="blockCornerRight"></div>

	<div class="contentList superadmin">
		<%= link_to_remote  'Add a new translation', 
							:update => 'languageConfiguration', 
							:url => language_switching_superadmin_translations_path(:locale_to_conf => 'translation_addition'), 
							:method => :get %>
  		<h3>Select one country to configure the differents fields and text:</h3>
  		<ul>
  		<% LANGUAGES.each do |l| -%>
    		<li>
				<%= link_to_remote  l.split('-').first, 
								   	:update => 'languageConfiguration', 
									:url => language_switching_superadmin_translations_path(:locale_to_conf => l.to_s),
								 	:method => :get %>
			</li>
  		<% end -%>
  		</ul>
		

  		<div id='languageConfiguration'>
    	<%= render  :partial => 'translations_tab', 
					:locals => {:res => @res, 
								:file => @file, 
								:translation_sections => @translation_sections} %>
  		</div>
	</div>
</div>