.fieldWithErrors {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.fieldWithErrors input {
	border: 1px solid red;
}

.fieldWithErrors label {
	color: red;
}

.formError {
	display: inline;
	color: red;
}