BODY {
	font-family: monospace;
}

.fieldWithErrors {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.fieldWithErrors input {
	border: 1px solid red;
}

.fieldWithErrors label {
	color: red;
}

.formError {
	display: inline;
	color: red;
}

.notice {
	padding: 0.5em;
	margin-top: 1em;
	background-color: rgb(56, 117, 215);
}

div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}

#user_bar {
	float: right;
}

#user_bar div {
  display: inline-block;
}

#menu_right {
  float:right;
}

.over {
	background-color: #EEEEEE;
	color: red;
	cursor: pointer !important;
}

.item {
	padding: 0.5em;
	max-width: 40em;
}

.item .window {
	padding: 0.3em;
	background-color:#EEEEEE;
	border: 1px solid black;
	display:inline;
	width: 20em;
	margin-left: 20em;
	position:absolute;
	color: black !important;
}

.item .window div {
	margin-bottom: 0.4em;
}

.hidden {
	display: none !important;
	font-size: 12px;
	padding-left: 2em;
}

.over .hidden {
	display: block !important;
}

a img {
	border: none
}	