body {
	font-family:"Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #333333;
}
a:link {
	color: #7B003B;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

a.add_item{
	display: block;
	margin-top: 30px;
}

#page {
	width: 100%;
}

#container {
	min-width: 980px;
	padding: 10px 20px 10px 20px;
}

#header {
	background-color: #bdd6d9;
	color: white;
	margin-bottom: 1em;
	height: 103px;
	min-width: 1000px;
}

#header_right{
	float:right;
	margin-right: 25px;
	margin-top: 10px;
	width: 440px;
	height:80px;
}

#page #container h1 {
	color: #000000;
	font-size: 175%;
	line-height: 0px;
}
#page #container h2 {
	color: #FFFFFF;
	font-size: 125%;
	line-height: 0px;
}

#page_title {
	font-size:250%;
	left:233px;
	position:absolute;
	top:4px;
	z-index:2;
}
#logo {
	margin-left:15px;
	padding-top:10px;
	height: 80px;
	width: 400px;
	float: left;
	padding-bottom: 10px;
}
#main_links {
	font-size: 80%;
	margin-bottom: 30px;
	text-align: right;
}
#main_links a {
	color: #7C0041;
	text-decoration: none;
}
#main_links a:hover {
	text-decoration: underline;
}

#site_links {
	color:#FFFFFF;
	font-size:80%;
	margin:0pt;
	position:absolute;
	right:25px;
	top:10px;
}

#site_links a {
	color: #7C0041;
	text-decoration: none;
}

#site_links a:hover {
	text-decoration: underline;
}

#site_subtitle {
	color:#7C0041;
	font-size:100%;
	margin-left:20px;
}
#MenuHR  {
	font-size: 90%;
	background-color: #AB5D7C;
	width: 440px;
	height: 36px;
	margin-top: 43px;
}
#MenuHR ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#MenuHR li {
	float: left;
}
#MenuHR a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#MenuHR a:hover {
	background-color: #7B003B;
}
#slct_WS {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
}

#item_WS {
	float: right;
	width: 47%;
	background-color: #D2A7BB;
	padding: 0.5em;
	border: 2px solid #BD7F9C;
}
#item_WS .titre {
	color: #FFFFFF;
}

#navigation {
	z-index: 20;
	text-align: right;
	font-size: 90%;
	margin-right: 25px;
	padding-top: -0.5em;
	float: right;
	width: 500px;
}

#navigation ul{
  display:block;
	margin: 0;
	padding: 0;
}

#navigation a {
	color: #7C0041;
	text-decoration: none;
	font-weight: bold !important;
}

#navigation a:hover {
	color: #FFFFFF;
}

#navigation li:hover {
	background-color: #7C0041;
	color: #FFFFFF;
}
    
#navigation li ul{
  visibility:hidden;
	margin: 0.5em -0.9em;
	clear: both;
}

#navigation li:hover ul
{
	visibility: visible;
}

#navigation li {
	position: relative;
	list-style:none;
	display:inline;
	background-color:#db9db5;
	text-align: left;
	padding:0.5em 0.9em;
	font-weight: bold;
	color: #7C0041;
	z-index: 3;
}

#navigation li li
{
	float:none;
}
    
#navigation li li{
    display:block;
}

#content, #content_bis{
	margin-right: 230px;
}

#content_bis h2{
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	padding-bottom: 0.3em;
	font-size: 125%;
	margin-top: 20px;
	display: block;
}

#content_bis h3{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#content_show{
	width: 800px;
	margin: 0px auto;
}

#content_show h2{
	color: #000;
}


#area_PROFIL {
	line-height: 18px;
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 100%;
}
#area_PROFIL #item_WS {
	background-color: #D2A7BB;
	padding: 0.5em;
	border: 2px solid #BD7F9C;
}
#area_PROFIL #item_WS .titre {
	color: #FFFFFF;
}
#area_PROFIL .titre {
	font-weight: bold;
	color: #000000;
}
#area_PROFIL img {
	border: 1px solid #666666;
	float: right;
	margin-top: 20px;
}

#area_DROITS {
	float: right;
	width: 47%;
	padding: 0.5em;
	background-color: #D2A7BB;
	border: 2px solid #BD7F9C;
}
#area_DROITS .titre {
	font-weight: bold;
	color: #FFFFFF;
}

#area_TITLE {
	padding: 0.5em;
	margin-bottom: 1em;
	border: 2px solid #F2F2F2;
}
#area_USERS {
	margin-bottom: 1em;
	line-height: 20px;
	padding: 0.5em;
	background-color: #D2A7BB;
	border: 2px solid #BD7F9C;
}
#area_USERS h2 {
	color: #FFFFFF;
	border: none;
	margin-top: 0px;
	padding: 10px 0px 20px 0px;
}
#area_USERS a {
	color: #7C0041;
	text-decoration: none;
}
#area_USERS a:hover {
	text-decoration: underline;
}
#area_POST {
	width: 98%;
	margin-bottom: 1em;
	margin-top: 40px;
	float: left;
}

#area_POST_bis {
	width: 47%;
	margin-bottom: 1em;
	margin-top: 0px;
	float: left;
}

#area_POST_bis .titre{
	width: 98%;
	margin-bottom: 1em;
	float: left;
}
#area_ADDED {
	width: 47%;
	padding: 0.5em;
	float: left;
}
#area_COMMENTS {
	float: right;
	width: 47%;
	padding: 0.5em;
	font-size: 12px;
}

#area_COMMENTS .titre {
	font-size: 14px;
	color: #000000;
}
#area_COMMENTS  .item {
	margin-bottom: 0.5em;
	line-height: 14px;
	padding: 0.3em;
}
#area_ONLINE {
	width: 79%;
	margin-bottom: 1em;
	line-height: 20px;
	padding: 0.5em;
	background-color: #E3EFF2;
	border: 2px solid #BDD6D9;
	float: left;
}

#area_FORM {
	clear: left;
	float: left;
	width: 95%;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-left: 1em;
	padding-right: 1em;
}

#area_BUTTONS {
	clear: both;
	float: none;
	height: 32px;
	width: 250px;
	margin: 0px auto;
}

#area_CONTENUS  .titre {
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	padding-bottom: 0.3em;
	font-size: 125%;
}
#area_CONTENUS  .titre  img {
	margin-right: 0.5em;
}

.fieldWithErrors {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.fieldWithErrors input {
	border: 1px solid red;
}

.fieldWithErrors label {
	color: red;
}

.formError {
	display: inline;
	color: red;
}

.notice {
	padding: 0.5em;
	background-color: #BAE6AF;
	margin-bottom: 1em;
	margin-right: 230px;
	border: 2px solid #669900;
	font-size: 90%;
	font-weight: bold;
	color: #336633;
	line-height: 18px;
}

.error {
	padding: 0.5em;
	background-color: #C3878C;
	margin-bottom: 1em;
	margin-right: 230px;
	border: 2px solid #800000;
	font-size: 90%;
	font-weight: bold;
	color: #ff0000;
	line-height: 18px;
}



div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}

#user_bar {
	float: right;
}

#user_bar div {
  display: inline-block;
}

#menu_up strong
{
	font-size: 150%;
}

#right-container{
	position:absolute;
	top: 127px;
	right: 20px;
}

#right_menu {
	background-color:#F2F2F2;
	margin-right: 5px;
	text-align:left;
	width:170px;
	z-index:4;
	font-size: 90%;
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
	top: 115px;
	border: 2px solid #CCCCCC;
}
#right_menu .titre {
	font-size: 150%;
	margin-bottom: 0px;
}

#right_menu a {
	color: #7C0041;
	text-decoration: none;
	list-style-type: none;
}

#right_menu a:hover {
	text-decoration: underline !important;
}
#right_menu ul {
	list-style-type: none;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#right_menu li {
	margin-bottom: 5px;
	padding-left: 5px;
	background-repeat: no-repeat;
	background-position: left;
}
#right_menu    li   .article {
	list-style-image: url(images/page_white_text.png);
}
#right_menu  li .image {
	list-style-image: url(images/image.png);
}
#right_menu  li .fichier {
	list-style-image: url(images/artic_file.png);
}
#right_menu  li .video {
	list-style-image: url(images/video.png);
}
#right_menu  li .audio {
	list-style-image: url(audio.png);
}
#right_menu  li .publication {
}
#Add_menu {
	background-color: #EEFFE9;
	float:right;
	margin-right: 5px;
	margin-top: 15px;
	text-align:left;
	width:170px;
	z-index:5;
	font-size: 90%;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	border: 2px solid #D7E6D2;
}
#Add_menu .titre {
	font-size: 150%;
	color: #677865;
	margin-bottom: 1em;
}
#Add_menu a {
	color: black;
	text-decoration: none
}
#Add_menu a:hover {
	text-decoration: underline
}
#Add_menu h1 {
	font-size: 18px;
}
#Add_menu #slct_ADD {
	margin-top: 1em;
}

.over {
	background-color: #EEEEEE;
	color: #7C0041;
	cursor: pointer !important;
}

.item {
	padding: 0.2em;
	width: 95%;
	line-height: 18px;
	margin-bottom: 0.4em;
}

.item name {

}

.item .window {
	color: black !important;
	display:inline;
	margin-left:50em;
	padding:0.7em;
	position:absolute;
	width:20em;
	margin-top:-7px;
}

.item span
{
	display: inline-block;
	overflow: hidden;
}

.item .window div {
	margin-bottom: 0.4em;
}

.hidden {
	display: none !important;
	font-size: 80%;
	padding-left: 2em;
}

.over .hidden {
	display: block !important;
}

a img {
	border: none
}	
.txt_100_000 {
	color: #000000;
}
.txt_80_333 {
	color: #333333;
	font-size: 80%;
}

.txt_80_666_bis {
	font-size: 80%;
}

.txt_80_666 {
	font-size: 80%;
	color: #666666;
}
.txt_70_666 {
	font-size: 80%;
	color: #666666;
}

#items_list{
	
}

.file_infos_box{
	padding: 20px;
	border: 2px solid #BD7F9C;
	margin-bottom: 40px;
}

.file_box{
	padding: 20px;
	background-color: #E3EFF2;
	border: 2px solid #BDD6D9;
	margin-bottom: 40px;
}

.comment_box{
	margin-left: 0px;
}
.comments_box{
	padding: 20px;
	background-color: #eee;
	border: 2px solid #ddd;
}

.comment_header{
	width: 100%;	
}
