body {
	font-family:"Lucida Grande","Bitstream Vera Sans",Helvetica,Verdana,Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

#container {
	padding: 0em 1em 1em;
}

#page_title {
	font-size:250%;
	left:300px;
	position:absolute;
	top:20px;
	z-index:2;
}

#site_title {
	font-size:170%;
	font-weight:bold;
	margin-left:20px;
	padding-top:19px;
}

#site_links {
	color:#F5CBCB;
	font-size:80%;
	margin:0pt;
	position:absolute;
	right:20pt;
	top:20px;
}

#site_links a {
	color: white;
}

#site_links a:hover {
	text-decoration: none;
}

#site_subtitle {
	color:#FFCC66;
	font-size:90%;
	font-style:italic;
	margin-left:20px;
}

#navigation {
	z-index: 20;
	text-align: right;
	margin-right: 3em;
	font-size: 90%;
	margin-top: -0.5em;
}

#navigation a {
	color: black;
	text-decoration: none;
	font-weight: bold !important;
}

#navigation a:hover {
	color: black;
	text-decoration: underline;
}

#navigation ul{
    display:block;
	margin: 0;
	padding: 0;
}

#navigation li:hover {
	background-color: #eeeeee;
}
    
#navigation li ul{
    visibility:hidden;
	margin: 0.5em -0.9em;
	clear: both;
}

#navigation li:hover ul
{
	visibility: visible;
}

#navigation li {
	position: relative;
    list-style:none;
    display:inline;
	background-color:#EAE3C5;
	text-align: left;
	padding:0.5em 0.9em;
	font-weight: bold;
	color: black;
	z-index: 3;
}

#navigation li li
{
	float:none;
}
    
#navigation li li{
    display:block;
}

.fieldWithErrors {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.fieldWithErrors input {
	border: 1px solid red;
}

.fieldWithErrors label {
	color: red;
}

.formError {
	display: inline;
	color: red;
}

.notice {
	padding: 0.5em;
	margin-top: 1em;
	background-color: rgb(56, 117, 215);
}

div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}

#user_bar {
	float: right;
}

#user_bar div {
  display: inline-block;
}

#menu_up {
	background-color: #CC0000;
	color: white;
}

#menu_up strong
{
	font-size: 150%;
}

#right_menu {
	background-color:#EAE3C5;
	margin-top:2em;
	padding:1em;
	position:absolute;
	right:2.5em;
	text-align:center;
	width:10em;
	z-index:2;
	font-size: 90%;
}

#right_menu a {
	color: black;
	text-decoration: none
}

#right_menu h1 {
	font-size: 12pt;
}

#right_menu a:hover {
	text-decoration: underline !important;
}

.over {
	background-color: #EEEEEE;
	color: red;
	cursor: pointer !important;
}

.item {
	padding: 0.5em;
	width: 35em;
}

.item .window {
	color: black !important;
	display:inline;
	margin-left:50em;
	padding:0.7em;
	position:absolute;
	width:20em;
	margin-top:-7px;
}

.item span
{
	display: inline-block;
	overflow: hidden;
}

.item .window div {
	margin-bottom: 0.4em;
}

.hidden {
	display: none !important;
	font-size: 12px;
	padding-left: 2em;
}

.over .hidden {
	display: block !important;
}

a img {
	border: none
}	