/* Navigation */
#topMenu{
	background:transparent url('/images/topMenu.png') no-repeat;
	color:#FFFFFF;
	height:50px;
	padding-left:27px;
	margin-bottom:0;
	margin-top:0;
}

.subMenu{
	display:none;
	background:transparent;
	position:absolute;
	margin:38px 0 0 10px;
	text-align:left;
	width:500px;
}
.subMenuContent{
	font-size:12px;
	overflow:auto;
}
#addSubMenu{background:#f89f36;}
#modifySubMenu{background:#f49029;}
#searchSubMenu{background:#ef7c18;margin-left:-120px;}
#configureSubMenu{background:#eb6e0d;margin-left:-200px;}
.subMenuContent .subMenuCol, .subMenuContent .subMenuLogo{
	float:left;
	padding:0 0 10px 5px;
	width:130px;
}

.subMenuContent .subMenuLogo{
	width:130px !important;
	margin-right:20px;
	padding-left:20px;
}

.subMenuCol ul{
	list-style:none;
	overflow:auto;
}

.subMenuCol ul li{
	font-size:100% !important;
	margin-left:5px !important;
	margin-top:5px !important;
	padding:0 !important;
	width:125px !important;
	float:none !important;
	text-align:left !important;
}
#searchFieldSet .formElement, #searchFieldSet input{
	width:200px !important;
}
#searchFieldSet{
	width:300px;
	float:left;
}
#header {
	padding-left:10px;
	padding-top:23px;
	background:#fff url('/images/backHeader.jpg') no-repeat;
	padding-left:10px;
	padding-top:23px;
	color:#fff;
}
#header ul{
	list-style:none;
}
#header li{
	float:left;
	font-size:180%;
	margin-right:10px;
	margin-top:12px;
	text-align:right;
	width:180px;
}
#header li img{
	float:right;
	margin-left:12px;
	margin-top:10px;
}
#header li a{color:#fff;}

#searchFieldSet label{
	width:140px;
}	
.menuLabel{
	border-right:1px dotted;
	padding-right:10px;
	float:right;
}