/* Reset */

ul {margin:0; padding:0;}
a {text-decoration: none;color:#666;cursor:pointer;}

a:hover {color: #333;text-decoration: underline;}

img {border:none;}

h1 {
	color:#F79646;
	font-size:190%;
	margin:0 0 25px;
	border-bottom:1px solid #CCCCCC;
}

h2 {
	clear:both;
	color:#F79646;
	font-size:190%;
	margin:0 0 10px;
}

h3 {
	font-size:130%;
	color:#2B2D2C;
	margin:10px 0 0;
}

h4 {
  	font-size: 120%;
	font-weight:lighter;
  	margin: 0;
  	padding: 0;
  	clear:both;
}
/*	Other	*/
#ajax_spinner {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    text-align:center;
}

.notice{
	background:#D5FFCE url(/images/icons/accept.png) no-repeat scroll 7px 50%;
	border:1px solid #9ADF8F;
	color:#556652;
	padding:20px 10px 20px 50px;
	margin-bottom:50px;
}


/* Structure */

body {
	font-family:"Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
	color: #9C9C9C;
	background-color: #2B2D2C;
	text-align: center;
}

#page_container {
	width: 1000px;
	margin: 0 auto;
	text-align:left;
	overflow:auto;
}

#header {
	padding-left:10px;
	padding-top:23px;
	background:#fff url('/images/backHeader.jpg') no-repeat;
	padding-left:10px;
	padding-top:23px;
	color:#fff;
}

#container { 
	background:#fff;
	padding:50px 10px 0;
	overflow:hidden;
}

#footer{
	color:#2B2D2C;
	margin-bottom:10px;
	padding:50px 10px 0;
	background:#fff url('/images/backfooter.jpg') no-repeat bottom;
	overflow:hidden;
	font-size:80%;
}


/* Navigation */

#header h3{
	color:#fff;
}

.subMenu{
	display:none;
	background:transparent;
	position:absolute;
	margin:33px 0 0 0;
	text-align:left;
	width:980px;
}
.subMenuContent{
	font-size:12px;
	overflow:auto;
}
#addSubMenu{background:#f89f36;margin-left:-27px}
#modifySubMenu{background:#f49029;margin-left:-217px;}
#searchSubMenu{background:#ef7c18;margin-left:-407px;}
#configureSubMenu{background:#eb6e0d;margin-left:-597px;}

.subMenuContent .subMenuCol, .subMenuContent .subMenuLogo{
	float:left;
	padding:0 0 10px 5px;
	width:130px;
}

.subMenuContent .subMenuLogo{
	width:130px !important;
	margin-right:20px;
	padding-left:20px;
}

.subMenuCol ul{
	list-style:none;
	overflow:hidden;
}

.subMenuCol ul li{
	font-size:100% !important;
	margin-left:5px !important;
	margin-top:5px !important;
	padding:0 !important;
	width:125px !important;
	float:none !important;
	text-align:left !important;
}
#searchFieldSet .formElement, #searchFieldSet input{
	width:200px !important;
}
#searchFieldSet{
	width:300px;
	float:left;
}

#topMenu{
	background:transparent url('/images/topMenu.png') no-repeat;
	color:#FFFFFF;
	height:50px;
	padding-left:27px;
	margin-bottom:0;
	margin-top:0;
	list-style:none;
}
#topMenu li{
	float:left;
	font-size:180%;
	margin:10px 10px 0 0;
	text-align:right;
	width:180px;
}
#topMenu li img{
	float:right;
	margin:10px 0 0 12px;
}
#topMenu li a{color:#fff;}

#searchFieldSet label{
	width:140px;
}	
.menuLabel{
	border-right:1px dotted;
	padding-right:10px;
	float:right;
}

/* 		FOOTER  	*/

#footerSearch {
	background:url('/images/backFootHeader.jpg') no-repeat 0 0;	
	height:43px;
}

#footerSearch #search_middle{
	background:none;
	margin-left:20px;
	width:960px;
}

#search_middle form{
  margin: 0;  padding: 0;
}

#search_middle input.style_text, #search_middle select{
  float: left;
  width: 300px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 140%;
  color:#666666;
}

#search_middle select{
  height:31px;
}

#search_middle p{
  margin: 15px 0 0 0;
  padding: 0;
  display: block;
  float: left;
  margin-left: 10px;
  font-size: 140%;
}

a.search_button{
  float: left;
  margin: 5px 12px 0px 17px;
}

#footerBody{
	margin-bottom:15px;
	background-color:#eee;
	overflow:auto;
	background:#EEEEEE url(/images/footerFooter.jpg) no-repeat scroll left bottom;
	height:100%;
	padding:20px 0;
}

.footerCol{
	float:left;
	width:290px;	
	margin-left:25px;
	border-right:1px solid #fff;
	overflow:visible;
	margin-top:10px;
}

.last{
	border-right:none;
}

#footer p{
	margin:5px 0 0;
}

#footerP{
	text-align:center;
	font-size:70%;
	color:#fff;
	margin-top:10px;
}


/* 		FORMS		*/

label{
	clear:both;
	display:block;
	float:left;
	font-size:100%;
	margin-right:10px;
	padding-top:15px;
	text-align:right;
	width:130px;
}

form input{
	border:none;
	border-bottom:1px solid #c2c2c2;
	color:#333333;
	font-size:100%;
	margin-top:12px;
	padding:3px;
	width:450px;
}

.formElement{
	float:left;
	overflow:hidden;
	display:block;
}

.submit_button {
	background:#fff url(/images/button.png) no-repeat scroll 0 20px;
	border:none;
	clear:both;
	color:#FFFFFF;
	display:block;
	height:auto;
	margin:0 auto;
	overflow:visible;
	padding:30px;
	width:250px;
	font-size:90%;
	margin-top:25px;
}

.ajax_hint_message{	margin-left:3px; }
#add_keyword{ 
	background:#FFFFFF url(/images/backKeyword.gif) no-repeat scroll 0 0;
	overflow:hidden;
	width:178px;
}
#add_keyword input{
	border:medium none;
	font-size:120% !important;
	height:21px;
	margin:5px 4px 5px 8px;
	overflow:hidden;
	padding:0;
	width:145px;
}
#add_keyword a{	
	display:block;
	float:left;
	margin-top:9px;
}
#add_keyword a:hover{
	background-color:none;
}	
.formError {color: red;	margin-left: 3px;}
.inputSimulation{margin-top:15px;}
.smallInput{width:200px;}

.CommonMessage{
	clear:both;
	margin:0px 0 0px 100px;
	padding:20px 0 18px 40px;
	width:460px;
	background: transparent url(/images/icons/info.png) no-repeat scroll 0px 50%;
}

.checkboxes{
	width:15px !important;
	border:none !important;
	height:auto !important;
	margin:0 !important;
}

.smallSubmit, .fieldsetSimulation #small_submit{
	background:transparent url('/images/smallSubmit.gif') no-repeat;
	border:none;
	color:#fff;
	text-align:center;
	width:170px;
	height:30px;
	font-size:100%;
	margin-top:15px;
}

/*		KEYWORDS	*/
		
.keyword_label, .keyword_label a{
	background:#E5E5E5;
	padding:2px 0 2px 2px;
	margin:5px 10px 0 0;
	color:#fff;
	display:inline !important;;
}

.keyword_label a{
	border-left:1px solid #fff;
	padding:0 2px;
}

#keywords_list{margin-top:5px; overflow:hidden;}

/*		ATTACHEMENTS	*/
#attachement ul{list-style-type:none;}
#attachement ul li, #files div {margin:5px 10px;}

/*		TABS		*/
ul#tabs {
  	float:left;
	width:206px;
	margin-top:90px;
	background:#fff;
	overflow:auto;
}
ul#tabs li {
	height:33px;
	list-style-type:none;
	padding-bottom:10px;
}
ul#tabs li a{
  	color:#FFFFFF;
	display:block;
	font-size:140%;
	padding:5px 10px;
	text-align:right;
	text-decoration:none;
  	background:transparent url('/images/tab.jpg');
}
ul#tabs li.selected a{
  	background:transparent url('/images/tabSelected.jpg');
}
ul#tabs li.selected{
	border:none;
}
	
/*		ITEM_LIST	*/
.objectList{
  	float:left;
	background:#fff;
}

#classify_bar{
	padding:4px 0 0;
	float:right;
}
#classify_bar a{font-size:80%;}

.item_in_list{
	overflow:visible;
	height:100%;
	clear:both;
}
.contentList{
	border:1px solid #ccc;
	padding:0 20px 25px 20px;
	clear:both;
	min-height:400px;
}
.elementPerPages{
	font-size:80%;
	padding-bottom:25px;
}
.itemInList, .peopleInList{
	overflow:hidden;
	clear:both;
	margin-bottom:5px;
	border-top:1px solid #D5D5D5;
	padding-top:2px;
}
.itemInList{width:732px;}

.itemInListDate{
	text-transform:uppercase;
	font-size:90%;
	color:#999;
	float:left;
	width:65px;
	padding-top:3px;
}
.itemInListBody{
	float:left;
	margin-left:20px;
	width:623px;
	overflow:hidden;
}
.itemInListTitle{
	font-size:120%;
	color:#F79646;
	padding-left:2px;
	width:621px;
	margin-bottom:5px;
}
.itemInListActions, .workspaceActions a{
	font-size:80%;
	text-transform:uppercase;
}

.itemInListActions a:hover, .blockBody a:hover, .workspaceActions a:hover{
	background-color:#F79646;
	color:#fff;
	text-decoration:none;
}

.star-rating-readonly a:hover, .star-rating-on a:hover ,.rating-cancel a:hover, .star-rating a:hover {
	background:#fff !important;
}

.itemInListTags{
	float:right;
	font-size:80%;
}
.itemInListMore{
	float:right;
	width:10px;
	margin-left:10px;
	background-color:#F79646;
	padding:2px;
	margin-top:-3px;
}
.itemInListMore a{color:#fff;}
.itemInListMore a:hover;{text-decoration:none;}
.itemInListActions a{padding:0 2px}
.itemInListTitle a{color:#F79646;}

#pagination, .pagination{
	text-align:center;
	padding-top:15px;
}
.paginationSelected{
	background:#fff url('/images/paginationActive.gif') no-repeat;
	padding:2px 6px;
	color:#fff;
	font-weight:normal;
}
.paginationUnselected{
	background:#fff url('/images/paginationUnactive.gif') no-repeat;
	padding:2px 6px;
	font-weight:normal;
}
.paginationBorderUnactive{
	color:#6fd364;
}
.paginationBorderActive{
	color:#28c322;
}

/*		CLASSIFY BAR	*/
a.filter{
	background:transparent url(/images/ddownDownArrow.gif) no-repeat scroll right 3px;
	padding:0 12px 0 2px;
	font-size: 80%;
}

.ddown{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	border-width:1px 2px 2px 1px;
	padding:10px;
	padding-left:20px;
	position:absolute;
	margin-left:0 !important;
}
.ddown li{list-style:none;}

.filterDrop{
	float:left;
	padding-left:20px;
}

.ddown li.currentUp{list-style-image:url('/images/ddownUpArrow.gif');}
.ddown li.currentDown{list-style-image:url('/images/ddownDownArrow.gif');}

/*		ITEM SHOW	*/
		
.itemShowLeft{
	float:left;
	width:730px;
}
.itemShowRight{
	float:right;
	width:200px;
}
.itemShowRightBlock{
	overflow:hidden;
	float:left;
	margin:0 0 25px 50px;
	font-size:80%;
}
.itemShowRightBlock a{
	display:block;
	margin:2px 0;
}

.itemShowLeftDate{
	float:left;
	width:110px;
	border-bottom:1px solid #ccc;
	margin-top:12px;
	padding-bottom:3px;
}
.itemShowLeftBody{
	float:left;
	width:620px;
}
.description{
	font-size:80%;
	margin:10px 0;
}

/*		BLOCS			*/
		
.blockCornerLeft{float:left;background:#fff url('/images/topCornerLeft.gif') no-repeat; width:10px;height:33px;}
.blockCornerRight{float:left;background:#fff url('/images/topCornerRight.gif') no-repeat; width:10px;height:33px;}		

.blockElementHeader{
	float:left;
	background:#E5E5E5 url('/images/topCenter.gif') repeat-x;
	font-size:120%;
	padding:6px 0px;
	color:#666;
	height:21px;
}

.sixH{width:600px;}
.twoH{width:180px;}
.sevH{width:754px;}
.sevTenH{width:710px;}

.blockElement{
	margin-top:50px;
	overflow:hidden;
}

.blockElementBody{
	padding:10px;
	border:1px solid #ccc;
	clear:both;
	overflow:hidden;
}

/*		COMMENTS		*/
#comments_list{	padding:25px 10px 0;}

#newCommentForm {margin:50px 0 20px;}

#newCommentForm textarea{
	font-family:"Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
	font-size:90%;
	width:576px;
}
.commentReply{
	margin-left:40px;
}
.commentfooterReply {
	font-weight:bold;
	color:#F79646;
}
.commentfooter{
 	background: url(/images/arrow.gif) 20px -5px no-repeat; /*20px 0 equals horizontal and vertical position of arrow. Adjust as desired (ie: 20px -5px).*/
 	padding-left: 58px;
 	margin-bottom: 20px;
 	font-size: 80%;
 	color: #4A4A4A;
}
.commentNumber{
	float:right;
	font-size:190%;
	color:#DADADA;
}
.commentbox{
 	background-color: #ececec;
 	padding: 10px;
	overflow:hidden;
}
.commentText{
	float:left;
	width:538px;
}
.newCommentTitle{
	color:#fff;
	padding:5px 10px;
	font-size:120%;
}

/* 		WORKSPACE	*/
.userName{
	padding:0;
	margin:0 10px 5px 0;
}
.userList{
	padding-bottom:25px;
}
.workspaceLogo{
	float:left;
	width:206px;
}
.workspaceInfos{
	float:left;
	width:774px;
}
.workspaceHeader{
	margin-bottom:50px;
	overflow:hidden;
}
.workspaceActions{
	border-bottom:1px solid #CCC;
	overflow:hidden;
	padding-bottom:5px;
}

/*		Other Lists		*/
.peopleListHeader{
	background:#fff url(/images/topUserList.gif) no-repeat;
}
.peopleInList{width:688px;}
.peopleInList .itemInListBody{width:602px;}