/* Reset */

ul {margin:0; padding:0;}
a {text-decoration: none;color:#666;cursor:pointer;}

a:hover {color: #333;text-decoration: underline;}

img {border:none;}

h1 {
	color:#F79646;
	font-size:190%;
	margin:0;
	border-bottom:1px solid #CCCCCC;
}

h3{
	font-size:130%;
	color:#2B2D2C;
	margin:10px 0 0;
}

h4{
  	font-size: 120%;
	font-weight:lighter;
  	margin: 0;
  	padding: 0;
  	clear:both;
}
/*	Other	*/
#ajax_spinner {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    text-align:center;
}

/* Structure */

body {
	font-family:"Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
	color: #9C9C9C;
	background-color: #2B2D2C;
	text-align: center;
}

#page_container {
	width: 1000px;
	margin: 0 auto;
	text-align:left;
	overflow:auto;
}

#header {
	padding-left:10px;
	padding-top:23px;
	background:#fff url('/images/backHeader.jpg') no-repeat;
	padding-left:10px;
	padding-top:23px;
	color:#fff;
}

#container { 
	background:#fff;
	padding:50px 10px 0;
	overflow:hidden;
}

#footer{
	color:#2B2D2C;
	margin-bottom:10px;
	padding:50px 10px 0;
	background:#fff url('/images/backfooter.jpg') no-repeat bottom;
	overflow:hidden;
	font-size:80%;
}


/* Navigation */

#header h3{
	color:#fff;
}

.subMenu{
	display:none;
	background:transparent;
	position:absolute;
	margin:38px 0 0 10px;
	text-align:left;
	width:500px;
}
.subMenuContent{
	font-size:12px;
	overflow:auto;
}
#addSubMenu{background:#f89f36;}
#modifySubMenu{background:#f49029;}
#searchSubMenu{background:#ef7c18;margin-left:-120px;}
#configureSubMenu{background:#eb6e0d;margin-left:-200px;}

.subMenuContent .subMenuCol, .subMenuContent .subMenuLogo{
	float:left;
	padding:0 0 10px 5px;
	width:130px;
}

.subMenuContent .subMenuLogo{
	width:130px !important;
	margin-right:20px;
	padding-left:20px;
}

.subMenuCol ul{
	list-style:none;
	overflow:auto;
}

.subMenuCol ul li{
	font-size:100% !important;
	margin-left:5px !important;
	margin-top:5px !important;
	padding:0 !important;
	width:125px !important;
	float:none !important;
	text-align:left !important;
}
#searchFieldSet .formElement, #searchFieldSet input{
	width:200px !important;
}
#searchFieldSet{
	width:300px;
	float:left;
}

#topMenu{
	background:transparent url('/images/topMenu.png') no-repeat;
	color:#FFFFFF;
	height:50px;
	padding-left:27px;
	margin-bottom:0;
	margin-top:0;
	list-style:none;
}
#topMenu li{
	float:left;
	font-size:180%;
	margin-right:10px;
	margin-top:12px;
	text-align:right;
	width:180px;
}
#topMenu li img{
	float:right;
	margin-left:12px;
	margin-top:10px;
}
#topMenu li a{color:#fff;}

#searchFieldSet label{
	width:140px;
}	
.menuLabel{
	border-right:1px dotted;
	padding-right:10px;
	float:right;
}

/* 		FOOTER  	*/

#footerSearch {
	background:url('/images/backFootHeader.jpg') no-repeat 0 0;	
	height:43px;
}

#footerSearch #search_middle{
	background:none;
	margin-left:20px;
	width:960px;
}

#search_middle form{
  margin: 0;  padding: 0;
}

#search_middle input.style_text, #search_middle select{
  float: left;
  width: 300px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 140%;
  color:#666666;
}

#search_middle select{
  height:31px;
}

#search_middle p{
  margin: 15px 0 0 0;
  padding: 0;
  display: block;
  float: left;
  margin-left: 10px;
  font-size: 140%;
}

a.search_button{
  float: left;
  margin: 5px 12px 0px 17px;
}

#footerBody{
	margin-bottom:15px;
	background-color:#eee;
	overflow:auto;
	background:#EEEEEE url(/images/footerFooter.jpg) no-repeat scroll left bottom;
	height:100%;
	padding:20px 0;
}

.footerCol{
	float:left;
	width:290px;	
	margin-left:25px;
	border-right:1px solid #fff;
	overflow:visible;
	margin-top:10px;
}

.last{
	border-right:none;
}

#footer p{
	margin:5px 0 0;
}

#footerP{
	text-align:center;
	font-size:70%;
	color:#fff;
	margin-top:10px;
}


/* 		FORMS		*/

label{
	clear:both;
	display:block;
	float:left;
	font-size:100%;
	margin-right:10px;
	padding-top:15px;
	text-align:right;
	width:130px;
}

form input{
	border:none;
	border-bottom:1px solid #c2c2c2;
	color:#333333;
	font-size:100%;
	margin-top:12px;
	padding:3px;
	width:450px;
}

.formElement{
	float:left;
	overflow:hidden;
	display:block;
}

.submit_button {
	background:transparent url(/images/button.png) no-repeat scroll 0 20px;
	border:medium none;
	clear:both;
	color:#FFFFFF;
	display:block;
	font-weight:bold;
	height:auto;
	margin:0 auto;
	overflow:visible;
	padding:30px;
	width:250px;
	font-size:90%;
}

.ajax_hint_message{	margin-left:3px; }
#add_keyword{overflow:hidden;}
#add_keyword input{float:none;width:178px;}
#add_keyword a{	display:block;}
.formError {color: red;	margin-left: 3px;}
.inputSimulation{margin-top:15px;}

.CommonMessage{
	clear:both;
	margin:0px 0 0px 100px;
	padding:20px 0 18px 40px;
	width:460px;
	background: transparent url(/images/icons/info.png) no-repeat scroll 0px 50%;
}

.smallSubmit, .fieldsetSimulation #small_submit{
	background:transparent url('/images/smallButton.png') no-repeat;
	border:none;
	color:#fff;
	text-align:center;
	width:200px;
	height:32px;
	font-size:80%;
	margin-top:15px;
}

/*		KEYWORDS	*/
		
.keyword_label, .keyword_label a{
	background:#E5E5E5;
	padding:2px 0 2px 2px;
	color:#fff;
	display:inline !important;;
}

.keyword_label a{
	border-left:1px solid #fff;
	margin:0;
	padding:0 2px;
}



/*		TABS		*/
ul#tabs {
  	float:left;
	width:206px;
	margin-top:90px;
}
ul#tabs li {
	height:33px;
	list-style-type:none;
	padding-bottom:10px;
}
ul#tabs li a{
  	color:#FFFFFF;
	display:block;
	font-size:140%;
	padding:5px 10px;
	text-align:right;
	text-decoration:none;
  	background:transparent url('/images/tab.jpg');
}
ul#tabs li.selected a{
  	background:transparent url('/images/tabSelected.jpg');
}
ul#tabs li.selected{
	border:none;
}
	
/*		ITEM_LIST	*/
#objectList{
  	float:left;
	width:774px;
}

.listHeader{
	background:#FBFBFB url('/images/topList.gif') no-repeat;
	padding:0 20px 10px;	
	height:32px;
	overflow:hidden;
}

.listHeader h3{
	float:left;
}

#classify_bar{
	height:25px;
	padding:15px 0 5px;
	float:right;
}
#classify_bar a{
	font-size:100%;
}

#classify_bar a span{
	padding-left:5px;
}

.item_in_list{
	overflow:visible;
	height:100%;
	clear:both;
}
.contentList{
	border:1px solid #ccc;
	border-top:none;
	padding:0 20px 25px 20px;
	clear:both;
	min-height:100%;
}
.elementPerPages{
	font-size:80%;
	padding-bottom:25px;
}
.itemInList{
	overflow:hidden;
	clear:both;
	margin-bottom:5px;
	border-top:1px solid #D5D5D5;
	padding-top:2px;
}
.itemInListDate{
	text-transform:uppercase;
	font-size:90%;
	color:#999;
	float:left;
	width:65px;
	padding-top:3px;
}
.itemInListBody{
	float:left;
	margin-left:20px;
	width:623px;
	overflow:hidden;
}
.itemInListTitle{
	font-size:120%;
	color:#F79646;
	width:623px;
	margin-bottom:5px;
}
.itemInListActions{
	float:left;
	font-size:80%;
}
.itemInListActions a{
	padding:0 2px;
}
.itemInListActions a:hover, .blockBody a:hover{
	background-color:#F79646;
	color:#fff;
	text-decoration:none;
}
.itemInListTags{
	float:right;
	font-size:80%;
}
.itemInListMore{
	float:right;
	width:10px;
	margin-left:10px;
	background-color:#F79646;
	padding:2px;
	margin-top:-3px;
}
.itemInListMore a{
	color:#fff;
}
.itemInListMore a:hover;{
	text-decoration:none;
}
/*		CLASSIFY BAR	*/
a.filter{
	background:transparent url(/images/ddownDownArrow.gif) no-repeat scroll right 5px;
	padding:0 16px 0 2px;
	font-size: 80%;
}

.ddown{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	border-width:1px 2px 2px 1px;
	padding:10px;
	padding-left:20px;
	position:absolute;
	margin-left:0 !important;
}
.ddown li{
	list-style:none;
	list-style-image:none;
	margin-left:10px;
	padding-left:10px;
}

.filterDrop{
	float:left;
	padding-left:20px;
}

.ddown li.currentUp{list-style-image:url('/images/ddownUpArrow.gif');}
.ddown li.currentDown{list-style-image:url('/images/ddownDownArrow.gif');}

/*		ITEM SHOW	*/
		
.itemShowLeft{
	float:left;
	margin-right:50px;
	width:700px;
}
.itemShowRight{
	float:right;
	width:200px;
}
.itemShowRightBlock{
	margin-bottom:25px;
	overflow:hidden;
}
.blockHeader{
	background:#fff url('/images/headerBlock.gif') no-repeat;
	width:180px;
	height:18px;
	padding:10px 10px 5px 10px;
	color:#666;
}
.blockBody{
	width:178px;
	background:#fff;
	border:1px solid #ccc;
	padding:10px;
	font-size:80%;
	overflow:hidden;
}
.blockBody a{
	display:block;
	margin:2px 0;
}
.itemShowLeftDate{
	float:left;
	width:100px;
	border-bottom:1px solid #ccc;
	margin-top:12px;
	padding-bottom:3px;
}
.itemShowLeftBody{
	float:left;
	width:600px;
}
.itemDescription{
	font-size:80%;
	margin:10px 0;
}


/*		COMMENTS		*/
#commentsList{
	margin-top:50px;
	overflow:hidden;
}
.commentsBody{
	border:1px solid #ccc;
	padding:25px 10px 0;
}
.commentsHeader{
	background:#fff url('/images/commentHeader.gif') no-repeat;
	font-size:120%;
	padding:6px 10px;
	color:#666;
}

#newCommentForm {
	background:#fff url("/images/commentFormHeader.gif") no-repeat;
	width:578px;
	margin-bottom:25px;
}
#newCommentForm textarea{
	width:554px;
	font-size:90%;
	margin:10px auto;
}
.commentReply{
	margin-left:40px;
}
.commentfooterReply {
	font-weight:bold;
	color:#F79646;
}
.commentfooter{
 	background: url(/images/arrow.gif) 20px -5px no-repeat; /*20px 0 equals horizontal and vertical position of arrow. Adjust as desired (ie: 20px -5px).*/
 	padding-left: 58px;
 	margin-bottom: 20px;
 	font-size: 80%;
 	color: #4A4A4A;
}
.commentNumber{
	float:right;
	font-size:190%;
	color:#DADADA;
}
.commentbox{
 	background-color: #ececec;
 	padding: 10px;
	overflow:hidden;
}
.commentText{
	float:left;
	width:538px;
}
.newCommentTitle{
	color:#fff;
	padding:5px 10px;
	font-size:120%;
}
.newComment{
	border:1px solid #863cc5;
	width:556px;
	padding:25px 10px;
}