/* Reset */

body {
	font-family:"Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
	color: #9C9C9C;
	background: #2B2D2C url('/images/backback.png');
}

ul {margin:0; padding:0;}
a {text-decoration: none;color:#666;cursor:pointer;}

a:hover {color: #333;text-decoration: underline;}

img {border:none;}

th{color:#F79646;text-align:left;}

h1 {
	border-bottom:1px solid #CCCCCC;
	color:#F79646;
	font-size:190%;
	font-weight:normal;
	height:35px;
	margin:0 0 25px;
	border-bottom:1px solid #CCCCCC;
	clear:both;
}

h2 {
	clear:both;
	color:#F79646;
	font-size:230%;
	font-weight:normal;
	margin:0 0 25px;
}

h3 {
	font-size:130%;
	color:#2B2D2C;
	margin:10px 0 0;
}

h4 {
  	font-size: 120%;
	font-weight:lighter;
  	margin: 0;
  	padding: 0;
  	clear:both;
}
/*	Other	*/
#ajax_spinner {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    text-align:center;
}

.notice{
	background:#000 url(/images/icons/accept.png) no-repeat scroll 40px 50%;
}

.error {
	background: #000 url(/images/icons/delete.png) no-repeat scroll 40px 50%;
}

.warning {
	background: #000 url(/images/icons/warning.png) no-repeat scroll 40px 50%;
}


#error_closing{
	position:fixed; top:10px; right:10px;color:#FFF;
}

.notice, .error{
	position:fixed;left:0;top:0px;
	width:100%;
}

.error, .notice{
	color: #FFF;
	padding:20px 10px 20px 80px;
	border-bottom:1px solid #FFF;
}

.ajax_hint_message{	
	opacity:0.8;
	filter : alpha(opacity=80);	
	margin-top:-10px;
	position:absolute;
}
.hintSelector{
	background:transparent url('/images/hintBack.gif') no-repeat scroll 0 10px;
	width:10px;
	height:36px;
	float:left;
}
.hintMessage{
	padding:10px;
	color:#FFFFFF;
	float:left;
	background-color:#000;
	width:200px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
}
.ajax_hint_message p{
	margin-top:0;
}

.inputError{
	border:1px solid red;
}
.formError {color:red;}

.ckUploader{clear:both;padding-top:50px;margin-left:10px;padding-bottom:5px;}

.ui-tabs .ui-tabs-hide {display: none;}

#images_tabs input, #insert_video input {width:300px;float:left;border:1px solid #ccc;height:20px;}
#images_tabs label, #insert_video label {width:80px;padding-top:8px;;clear:both;float:left;}
.fckLinkContent {height:500px;overflow:auto;clear:both;padding:10px;}
.fckLinkContent div{clear:both; margin-top:25px;}
.fckLinkContent form {overflow:hidden;}
.fckLinkContent p{ margin-bottom:0; margin-top:5px;overflow:hidden;}
.fckLinkContent li{display:inline;margin-right:10px;size:120%;}
.fckLinkContent .ui-tabs-selected a{color:#F79646;font-size:120%;}
.fckLinkContent h1{margin:0 0 10px !important;}
#images_tabs select{float:left;margin-top:5px;}

/* Structure */

#page_container {
	width: 1000px;
	margin: 0 auto;
	overflow:hidden;
}

#header {
	background:#fff url('/images/backHeader.jpg') no-repeat;
	padding:10px;
	margin-top:13px;
	color:#fff;
	overflow:hidden;
}

#container { 
	background:#fff;
	padding:50px 10px;
	overflow:auto;
	clear:both;
}

#footer{
	background:#2B2D2C url(/images/footerBackground.gif) repeat-x scroll 0 0;
	font-size:80%;
	overflow:hidden;
	clear:both;
}

#disclaimer{
	background:#eee;
	font-size:70%;
	text-align:center;
	padding:50px 0 5px;
	width:1000px;
	margin:0 auto;
}
/* Navigation */

#header h3{
	color:#fff;
}

.subMenu{
	display:none;
	background:transparent;
	position:absolute;
	margin:33px 0 0 0;
	text-align:left;
	width:980px;
	z-index:960;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
}
.subMenuContent{
	font-size:12px;
	overflow:auto;
}
#addSubMenu{background:#f89f36;margin-left:-27px}
#modifySubMenu{background:#f49029;margin-left:-217px;}
#configureSubMenu{background:#ef7c18;margin-left:-407px;}
/*#configureSubMenu{background:#eb6e0d;margin-left:-597px;}*/

.subMenuContent .subMenuCol, .subMenuContent .subMenuLogo{
	float:left;
	padding:0 0 10px 5px;
	width:130px;
}

.subMenuContent .subMenuLogo{
	width:130px !important;
	margin-right:20px;
	padding-left:20px;
}

.subMenuCol ul{
	list-style:none;
	overflow:hidden;
}

.subMenuCol ul li{
	font-size:100% !important;
	margin-left:5px !important;
	margin-top:5px !important;
	padding:0 !important;
	width:125px !important;
	float:none !important;
	text-align:left !important;
}
#menuAndSearch{
	background:#fff url(/images/topMenu.png) no-repeat scroll 0 0;
	overflow:hidden !important;
}
#topMenu{	
	color:#FFFFFF;
	height:50px;
	padding-left:27px;
	margin-bottom:0;
	margin-top:0;
	list-style:none;
	float:left;
	overflow:hidden;
}
#powerfullSearch{float:right;margin-right:20px;margin-top:10px;height:30px;overflow:hidden;}
#powerfullSearch form{margin:0;}

#topMenu li{
	float:left;
	font-size:180%;
	margin:10px 10px 0 0;
	text-align:right;
	width:180px;
	overflow:hidden;
}
#topMenu li img{
	float:right;
	margin:10px 0 0 12px;
}
#topMenu li a{color:#fff;}

.menuLabel{
	border-right:1px dotted;
	padding-right:10px;
	float:right;
}

#commandSearch{
	background:transparent url('/images/headerSearchFld.gif') no-repeat scroll 0 0;
	border:none;
	font-size:80%;
	padding:8px 0 8px 5px;
	width:282px;
}
.fieldSearchContainer{
	float:left;
}
.headerSearchButton{
	float:left;
	width:26px;height:30px;
	background:#000 url('/images/headerSearchBtn.gif');
	border:none;
}
.commandSearch{
	width:200px !important;
}

.launchButton,.fieldContainer{
	float:left;
}

/* 		FOOTER  	*/

a.search_button{
  float: left;
  margin: 5px 12px 0px 17px;
}

#footerBody{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	padding:0;
	background:#eee url(/images/footerMiddleBackground.gif) repeat-x;
}

.footerCol{
	float:left;
	width:290px;	
	margin-left:25px;margin-top:50px;
	border-right:1px solid #fff;
	overflow:visible;
	padding-bottom:10px;
}

#searchInputFooter{background:#EEE url(/images/searchInputFooter.gif) no-repeat !important;float:left;width:250px !important;}
#footer p{margin:3px 0;}
#footer form{overflow:hidden;}

.last{border-right:none;}

.launchSearchFooter{background:#EEE url(/images/launchSearchFooter.gif) !important;}

/* 		FORMS		*/

label{
	clear:both !important;
	float:left;
	font-size:100%;
	margin-right:10px;
	padding-top:30px;
	text-align:right;
	width:130px;
}

.advanced{
	padding-top:50px !important;
}

form input{
	border:1px solid #c2c2c2;
	color:#333333;
	font-size:100%;
	padding:5px 3px 3px;
	width:429px;
}

.formElement, .form_element_translation{
	float:left; overflow:hidden !important;
	padding-top:25px;
	display:block;
}

.formElement textarea{
	width:450px;
	height:100px;
	font-family:"Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
	font-size:90%;
}
.submitButton{
	background:#fff url(/images/rightSubmitButton.gif) no-repeat scroll right 1px;
	clear:both;
	border:0;
	color:#fff;
	font-weight:bold;
	margin:50px 25px 25px -2px;
	font-size:90%;
	padding:0 10px 0 0;
	float:left;
	cursor:pointer;
	overflow: visible;
}
.submitButton span{
	background:#fff url(/images/leftSubmitButton.gif) no-repeat scroll left;
	margin:0;
	padding:10px 10px 8px 20px;
	position: relative;
	float:left;
	white-space:nowrap;
}

.smallSubmit{
	background:transparent url('/images/rightSmallSubmitButton.gif') no-repeat right 1px;
	border:none;
	color:#fff;
	padding-right:5px;font-size:80%;margin-top:5px;
	text-align:center;cursor:pointer;
	float:left;clear:both;overflow: visible;
}

.smallSubmit span{
	background:transparent url('/images/leftSmallSubmitButton.gif') no-repeat left;
	position: relative;float:left;
	white-space:nowrap;
	margin:0;padding:7px 10px 5px 20px;
}

.itemShowRightBlock .smallSubmit{
	font-size:100% !important;
}

.continue{float:left;clear:none;}

.advancedEditor{
	margin:0 auto;
	overflow:hidden;
	clear:both;
}
.errorForAdvancedEditor{
	float:left;
	padding-top:50px;
}

#followers_email{
	clear:both;
}
#addKeyword{ 
	overflow:hidden;
	width:178px;
}
#addKeyword input, #new_follower_email, #searchInputFooter, #addWebSiteUrl input{
	background:#fff url('/images/fieldWithInner.gif') no-repeat scroll 0 0;
	border:medium none;
	height:17px; width:142px;
	overflow:hidden;
	padding:8px 2px 5px 8px;
}
#addKeyword a, .addExceptionFollower, .launchSearchFooter, #addWebSiteUrl a{	
	display:block;float:left;
	width:26px;height:30px;margin:0;
	background:#fff url('/images/submitHalfRoundBtn.gif');
}
#addKeyword a:hover{
	background-color:none;
}	

.addedInformation{clear:both;overflow:hidden;margin-top:10px;}
.fileList{width:429px;}
.fileList .keyword_label span a{border:none!important;}
#addWebSiteUrl{overflow:hidden;width:450px;}

.inputSimulation{margin-top:15px;}
.smallInput{width:200px;}

.CommonMessage{
	background:transparent url(/images/icons/info.png) no-repeat scroll 0 79%;
	clear:both;
	margin:0 0 0 92px;
	padding:50px 0 18px 50px;
	width:460px;
}

.checkboxes{
	width:15px !important;
	border:none !important;
	height:auto !important;
	margin:4px 0 0 !important;
}

.checkboxes .private{display:none;}



.alone{ display:block; margin-top:25px;}

.centerButton{clear:both;overflow:hidden;}

.superadmin .formElement{width:437px;}
.superadmin ul{margin-left:50px;}
.superadmin label{width:220px;}
.checkboxListHorizontal{ float:left; margin-right:15px;}

#keyword_value, #website_url_name_value, #new_follower_email {
	width:500px;
	float:left;
}

#left_select_box, #left_right_buttons, #right_select_box{
	float:left;
	overflow:visible;
}
#assignedOptions, #availableOptions {height:200px;width:270px; }
#left_select_box, #right_select_box {width:270px;}	
#right_select_box{padding-left:5px;  float: right;}
#left_right_buttons{margin:50px 10px 30px 30px;	width:30px;	text-align: center;}
.sendLeftButton, .sendRightButton{border:0; width:30px; cursor: pointer;}
.sendLeftButton{background:transparent url('/images/icons/left.png') no-repeat;}
.sendRightButton{background:transparent url('/images/icons/right.png') no-repeat;margin-top:30px;}
.optionAssignmentLabel{height:20px;margin-bottom:3px;}
.sendAll{margin-top:5px;}

#languageConfiguration {margin-top:25px;}

/*		KEYWORDS	*/	
.keyword_label{
	background:#E5E5E5;
	margin:5px 10px 0 0;
	-moz-border-radius:10px;
	padding:2px 0;
	overflow:hidden;
	float:left;
}
.keyword_label span{color:#666; padding:0 5px 0 10px;float:left;display:block;}

.keyword_label a{
	border-left:1px solid #fff;
	padding:0 7px 0 5px;margin:0 !important;
	float:left;
	display:block;
}

#keywords_list{margin-top:5px; overflow:hidden; width:178px;}

/*		ATTACHEMENTS	*/
#attachement ul{list-style-type:none;}
#attachement ul li, #files div {margin:5px 10px;}

/*		TABS		*/
ul#tabs {
  	float:left;
	width:206px;
	background:#fff;
	overflow:hidden;
	margin:90px 0 0 35px;
}
ul#tabs li {
	height:33px;
	list-style-type:none;
	padding-bottom:10px;
}
ul#tabs li a{
  	color:#FFFFFF;
	display:block;
	font-size:140%;
	padding:5px 10px;
	text-align:right;
	text-decoration:none;
  	background:transparent url('/images/tab.jpg');
}
ul#tabs li.selected a{
  	background:transparent url('/images/tabSelected.jpg');
}
ul#tabs li.selected{
	border:none;
}
	
/*		ITEM_LIST	*/
.objectList{float:left;margin:0 0 0 30px;}
.objectListWithTab{float:left;margin:0 30px 0 0;}
.filter{float:left;margin-right:10px;}

#classify_bar{
	padding:4px 0 0;
	float:right;
}
#classify_bar a{font-size:80%;}

.item_in_list{
	overflow:visible;
	height:100%;
	clear:both;
}
.contentList{
	border:1px solid #ccc;
	padding:25px 20px;
	clear:both;
	min-height:500px;
	overflow:hidden;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
}
.elementPerPages{
	font-size:80%;
	padding-bottom:25px;
}
.itemInList{
	overflow:hidden;
	clear:both;
	margin-bottom:5px;
	border-top:1px solid #D5D5D5;
	padding-top:2px;
}

.itemInListDate{
	text-transform:uppercase;
	font-size:90%;
	color:#999;
	float:left;
	width:75px;
	padding-top:3px;
}
.itemInListBody{
	float:left;
	margin-left:20px;
	overflow:hidden;
}
.itemInListTitle{
	font-size:120%;
	color:#F79646;
	padding-left:2px;
	margin-bottom:5px;
}
.itemInListActions, .workspaceActions, .objectActions{
	font-size:70%;
	text-transform:uppercase;
	margin-top:5px;
}
.itemInListActions {float:left;}

.itemInListActions a:hover, .blockBody a:hover, .workspaceActions a:hover, .superadmin a:hover, .itemShowRightBlock a:hover{
	background-color:#F79646;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}
.star-rating-readonly a:hover, .star-rating-on a:hover ,.rating-cancel a:hover, .star-rating a:hover, #keywords_list a:hover {
	background-color:transparent !important;
}

.itemInListTags{
	float:right;
	font-size:80%;
	margin-top:5px;
	padding-bottom:2px;
}
.itemInListMore{
	float:right;
	width:10px;
	margin-left:10px;
	background-color:#F79646;
	padding:2px;
	margin-top:-3px;
}
.itemInListMore a{color:#fff;}
.itemInListMore a:hover;{text-decoration:none;}
.itemInListActions a{padding:0 2px}
.itemInListTitle a{color:#F79646;}

#pagination, .pagination{
	text-align:center;clear:both;
	padding:15px 0;
}

.paginationSelected, .paginationUnselected{
	padding:2px 7px;
	font-weight:normal;
}

.paginationSelected{background:#fff url('/images/paginationActive.gif') no-repeat;color:#fff;}
.paginationUnselected{background:#fff url('/images/paginationUnactive.gif') no-repeat;}
.paginationBorderUnactive{color:#6fd364;}
.paginationBorderActive{color:#28c322;}

.tag{
	background:#eee;
	padding:2px 8px;
	margin-right:10px;
	-moz-border-radius:10px;
	font-size:80%;
}

.tag:hover{	text-transform:uppercase;}

/*		CLASSIFY BAR	*/
a.filter{
	background:transparent url(/images/ddownDownArrow.gif) no-repeat scroll right 3px;
	padding:0 12px 0 2px;
	font-size: 80%;
}

.ddown{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	border-width:1px 2px 2px 1px;
	padding:10px 0 10px 25px;
	margin-left:0 !important;
	position:absolute;right:0px;top:15px;
	text-align:left;
	clear:both;
	display:block;
	width:140px;
}
.ddown li{list-style:none;}

.filterDrop{float:left;padding-left:25px;text-align:right;position:relative;}

.ddown li.currentUp{list-style-image:url('/images/ddownUpArrow.gif');}
.ddown li.currentDown{list-style-image:url('/images/ddownDownArrow.gif');}

/*		ITEM SHOW	*/
		
.itemShowLeft{
	width:620px;
	float:left;
	margin-left:30px;
}
.itemShowRight{
	float:right;
	width:200px;
}
.itemShowRightBlock{
	overflow:hidden;
	margin:0 30px 25px 100px;
	font-size:80%;
}
.itemShowRightBlock a{
	display:block;
	margin:5px 0;
}

#submit_rating a{margin:2px 0;}
.rating-cancel{display:none !important;}

.itemShowDate{
	font-size:230%;
	padding:0 0 50px 100px;
}

.description{
	font-size:80%;
	padding:25px 0;
}

/*		BLOCS			*/
		
.blockCornerLeft{float:left;background:#fff url('/images/topCornerLeft.gif') no-repeat; width:10px;height:33px;}
.blockCornerRight{float:left;background:#fff url('/images/topCornerRight.gif') no-repeat; width:10px;height:33px;}		

.blockElementHeader{
	float:left;
	background:#E5E5E5 url('/images/topCenter.gif') repeat-x;
	font-size:120%;
	padding:8px 0 4px;
	color:#666;
	height:21px;
}

.itemShowRightBlock .blockElementHeader{ padding:10px 0 2px;}

.sixH{width:600px;}
.twoH{width:180px;}
.sevH{width:689px;}
.sevTenH{width:685px;}

#pure_item_list .itemInListBody{width:572px;}

.blockElement{
	margin-top:50px;
	overflow:hidden;
	clear:both;
}

.blockElementBody{
	padding:0 10px;
	border:1px solid #ccc;
	clear:both;overflow:hidden;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
}

.itemShowRightBlock .blockElementBody{
	padding:25px 10px !important;
}

.rightBlocks{overflow:hidden;}

/*		COMMENTS		*/
		
#comments_list{	padding:25px 10px 0;}
#newCommentForm {margin:50px 0 20px;}
#newCommentForm textarea, #commentReply textarea{
	font-family:"Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
	font-size:90%;
	width:596px;
}
#commentReply textarea{width:602px;}

#commentReply textarea{margin-left:2px;}

.commentReply{
	margin-left:40px;
}
.commentfooterReply {
	font-weight:bold;
	color:#F79646;
}
.commentfooter{
 	background: url(/images/arrow.gif) 20px -5px no-repeat; /*20px 0 equals horizontal and vertical position of arrow. Adjust as desired (ie: 20px -5px).*/
 	padding-left: 58px;
 	margin-bottom: 20px;
 	font-size: 80%;
 	color: #4A4A4A;
}
.commentNumber{
	float:right;
	font-size:190%;
	color:#DADADA;
}
.comment{float:left;width:530px;}

.commentbox{
 	background-color: #ececec;
 	padding: 10px;
	overflow:hidden;
}
.newCommentTitle{
	color:#fff;
	padding:5px 10px;
	font-size:120%;
}

.object{overflow:hidden;margin-top:10px;padding-top:5px;}
.objectDate{ float:left; width:80px;}
.objectBody{ overflow:hidden; float:left; width:498px;}
.commentfooter a {text-transform:uppercase;}

.hidden{display:none;}

/* 		WORKSPACE	*/
.userName{
	padding:0;
	margin:0 10px 5px 0;
}
#users{
	padding:0 0 25px
}
.workspaceLogo{
	float:left;
	width:206px;
	margin:10px 0 0 35px;
}
.workspaceInfos{
	float:left;padding:0 10px;width:689px;
}
.workspaceHeader{
	margin-bottom:50px;
	overflow:hidden;
}
.workspaceActions{
	border-bottom:1px solid #CCC;
	overflow:hidden;
	padding-bottom:5px;
}
.space{padding:25px 10px;}
.itemShowLeftBody table{margin-top:25px;}
.contactClassify{font-size:80%;}
#left_right_buttons2{
    padding: 40px;
	width:10px;
	text-align: center;
    float:left;
	overflow:visible;
}
.formContainer{overflow:hidden;}

#website_tabs ul{
	clear:both;
	list-style:none;
	padding-top:50px;
	padding-left:10px;
	font-size:120%;
}
#website_tabs ul li {display:inline;}
#website_tabs .blockElement{margin-top:0px;}
#website_tabs .ui-tabs-selected a {color:#F79646;}
.blockElementBody label {width:120px !important;}

/*		USERS			*/
.wsList{list-style:none;padding-left:10px;}
.avatar{margin:20px;}
#itemsNumber{font-size:80% !important;padding-top:3px;float:left; width:200px;}
.workspaceWithRole{ list-style:none; padding-left:25px;padding-top:10px;}
.roleList{margin-top:50px;}
.userDetails{padding-top:25px;}
.userDetails p{overflow:hidden;}

/*		Comments		*/
		
.object ul {list-style:none;}
.forComments{padding-top:10px;}
.noInput, .noLabel .formElement{padding-top:0 !important;}

/*		SuperAdmin		*/
#website_url_name_value, #new_follower_email {
	width:200px;
	float:left;
}
.permissionsList{margin-top : 25px;}
.roleDescription{height:70px; width:450px;}

.feedDescription{width:520px;font-size:80%;margin:10px 0;}
.feed{width:520px;}

/*		List Autocomplete		*/
.ac_results {
	padding: 0px;
	border:1px solid #CCCCCC;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {background: white url('/images/ajax-loader.gif') right center no-repeat;}
.ac_odd {background-color: #eee;}
.ac_over {background-color: #F79646;color: white;}

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#fff;}
#colorBox{}
#cboxTopLeft{width:25px; height:25px; background:url(/images/colorbox/border1.png) 0 0 no-repeat;}
#cboxTopCenter{height:25px; background:url(/images/colorbox/border1.png) 0 -50px repeat-x;}
#cboxTopRight{width:25px; height:25px; background:url(/images/colorbox/border1.png) -25px 0 no-repeat;}
#cboxBottomLeft{width:25px; height:25px; background:url(/images/colorbox/border1.png) 0 -25px no-repeat;}
#cboxBottomCenter{height:25px; background:url(/images/colorbox/border1.png) 0 -75px repeat-x;}
#cboxBottomRight{width:25px; height:25px; background:url(/images/colorbox/border1.png) -25px -25px no-repeat;}
#cboxMiddleLeft{width:25px; background:url(/images/colorbox/border2.png) 0 0 repeat-y;}
#cboxMiddleRight{width:25px; background:url(/images/colorbox/border2.png) -25px 0 repeat-y;}
#cboxContent{background:#fff;}
#cboxLoadedContent{margin-bottom:20px;}
#cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
#cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
#cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
#cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
#cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
#cboxLoadingOverlay{background:url(/images/colorbox/loading.gif) 5px 5px no-repeat #fff;}
#cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/colorbox/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/colorbox/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/colorbox/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/colorbox/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/colorbox/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/colorbox/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/colorbox/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/colorbox/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}



.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 400px; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }