

#reply {
 background:transparent url(/images/gray.png) repeat scroll 0 0 !important;
 display:none;
 filter:none !important;
 height:auto;
 left:50%;
 margin:-220px 0 0 -250px;
 padding:15px;
 position:fixed;
 top:50%;
 width:500px;
 z-index:2;
}


.commentbox{
 background-color: #ececec;
 width: 450px;
 padding: 10px;
}

.commentfooter{
 background: url(/images/arrow.gif) 20px -5px no-repeat; /*20px 0 equals horizontal and vertical position of arrow. Adjust as desired (ie: 20px -5px).*/
 padding-left: 58px;
 padding-top: 1px;
 margin-bottom: 2em;
 font-size: 90%;
 color: #4A4A4A;
}

