

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #333;
	background-color:#EEEEEE;
	text-align: center;	/* part 1 of 2 centering hack */
	}
#content_login {
	background:transparent url(/images/backloginrepeat.jpg) repeat scroll 0 0;
	margin:0 auto;
	padding:25px 25px 0;
	text-align:left;
	width:400px;
	height:320px;
}
a:link {
	color: #7B003B;
	text-decoration: none;
}
a:visited {
	color: #7B003B;
	text-decoration: none;
}
a:hover {
	color: #7B003B;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
form  {
	padding: 10px;
	margin: 0px;
	overflow:auto;
}
#content_login label {
	line-height: 25px;
	width:150px;
	display:block;
	float:left;
	clear:both;
	margin-top:5px;
}
#content_login   input {
	width:200px;
	border:solid 1px #eeeeee;
	margin-top:5px;
	height:25px;
	font-size:120%;
}
#bottomLogin{
	float:left;
}
#bottomLogin label{
	width:auto;
	font-size:80%;
}
#bottomLogin input{
	margin:10px 0 0;
}
#languageLogin{
	float:right;
	margin-left:10px;
	width:125px;
}
.submit_button{
	background:transparent url(/images/button.png) no-repeat scroll 0 20px;
	border: none;
	clear:both;
	color:#FFFFFF;
	display:block;
	font-weight:bold;
	height:auto;
	margin:0 10px 0 0;
	overflow:visible;
	padding:30px 30px 15px;
	width:250px;
}
#footerLogin p{
	text-align:center;
	bottom:0;
	position:relative;
	bottom:0;
	margin:0;
	padding:10px 0 0;
}
#footerLogin{
	height:30px;
	clear:both;
	background:url(/images/backloginfooter.jpg) no-repeat;
	width:400px;
	margin:0 auto;
	padding:0 25px;
}
#logoDiv{
	width:300px;
	margin:0 auto;
	padding-left:10px;
}
#sub_but{
	width:260px;
	margin:0 auto;
}
#headerForm{
	margin-top:10px;
	background:url(/images/backloginheader.jpg) no-repeat bottom;
	height:10px;
	width:400px;
	margin:30px auto 0;
	padding:0 25px;
}
#actionlogin{
	width:300px;
	margin:0 auto;
	overflow:auto;
	margin-top:20px;
	padding-left:15px;
}
#actionlogin p{
	margin:5px 0;
	font-size:70%;
}
select{
	margin-top:-3px;
}
.checkboxes{
	width:15px !important;
	border:none !important;
}