<% item_show( :title => 'Group',  :object => @current_object ) do %>

<div id="group_members">
    <h2><%= I18n.t('groups.index.members')  %> </h2>
        <ul>
        <%for member in @current_object.members %>
          <li> <%= member.email %> (<%= member.full_name %>) </li>
        <% end %>
        </ul>
  </div>
  <br /><br />
  <%= link_to "Export this group to CSV", export_to_csv_group_path(@current_object.id) %>

<% end %>
