<% item_show( :title => 'Group',  :object => @current_object ) do %>

<br /><br />
<div id="group_members">
    <h2>Members</h2>
        <ul>
        <%for person in @current_object.people %>
          <li> <%= person.email %>(<%= person.first_name %> <%= person.last_name %>) </li>
        <% end %>
        </ul>
  </div>
  <br /><br />

<% end %>
