<div id="search_header" class="list_header">
  <h2><%#= image_tag('/images/icons/search.png')%><%= I18n.t('layout.search.your_search_result') %></h2>
</div>

<%= render  :partial => 'admin/blank_lists/pure_item_list' %>

