<div id="content_bis">
	<div id="area_CONTENUS">
		<div class="titre"><%= image_tag Video.icon %><strong><%=I18n.t('general.video').pluralize%></strong></div>
		<% @current_objects.each do |co| %>
			<%= item_in_list co %>
		<% end %>
		<%= link_to I18n.t('add_a_new_file'), new_item_path(Video), :class => "add_item" %>
	</div>
</div>
