<div id="content_bis">
	<div id="area_CONTENUS">
		<div class="titre"><%= image_tag Video.icon %><strong>Vidéos</strong></div>
		<% @current_objects.each do |co| %>
			<%= item_in_list co %>
		<% end %>
		<%= link_to "Ajouter un ficher", new_item_path(Video), :class => "add_item" %>
	</div>
</div>
