<script type="text/javascript">
  var cancel=true;
</script>
<%= periodically_call_remote :update=> 'progress',
    :condition=>"cancel==true",
    :url => {:action=> 'get_progress', :id => object.id},
    :frequency => 10 %>
<div id="states">
   <%=object.state.capitalize%>
</div>
<%= image_tag "/images/loader.gif" %>