<% item_show( :title => I18n.t('general.video'),  :object => @current_object ) do %>
	<h2>Vidéo</h2>
    <div id="player"></div>
		<% if @current_object.state=="converted" %>
		<script type="text/javascript">
			var so = new SWFObject('/videoplayer/player.swf','mpl','470','320','9');
			so.addParam('allowscriptaccess','always');
			so.addParam('allowfullscreen','true');
			so.addParam('flashvars','&file=<%=File.dirname(@current_object.video.url)%>/video.flv');
			so.write('player');
		</script>
	<% else %>
		<strong>Your Video is Queued for Encoding</strong><br />
	<% end %>
	
	<%= link_to I18n.t('video.download_video'), (@current_object.video.url) %>
<% end %>
