<% item_show( :title => I18n.t('general.video'),  :object => @current_object ) do %>
	<h2>Vidéo</h2>
	
	<% if @current_object.encoded_file %>
		<script type="text/javascript" src="/videoplayer/swfobject.js"></script>

		<div id="player">This text will be replaced</div>

		<script type="text/javascript">
			var so = new SWFObject('/videoplayer/player.swf','mpl','470','320','9');
			so.addParam('allowscriptaccess','always');
			so.addParam('allowfullscreen','true');
			so.addParam('flashvars','&file=<%= @current_object.encoded_file %>');
			so.write('player');
		</script>
	<% else %>
		<strong><%=I18n.t('message.video_wip')%></strong>
	<% end %>
	
	<%= link_to I18n.t('video.download_video'), url_for_file_column('video', 'file_path') %>
<% end %>
