<div class="area_LEFT">
  <%#= render :partial => "generic_for_items/top_box" %>
  <%= display_generic_items_tab('top_box') %>
</div>
<div class="area_LEFT">
	<%= render :partial => 'users/workspaces', :object => @current_user %>
</div>
<div class="clear"></div>
<%= render :partial => "latest" %>