<div class="area_LEFT">
  <%= render :partial => "items/top_box" %>
</div>
<div class="area_LEFT">
	<%= render :partial => 'users/workspaces' %>
</div>
<div class="clear"></div>
<%= render :partial => "latest" %>