<div id="insert_images">
	<div id="images_tabs" class="fckLinkContent">
		<h1>Pictures</h1>
		<ul>
			<li><a href="#insert_image">Insert</a></li>		
			<li><a href="#upload_image">Upload</a></li>
		</ul>
		<div id="insert_image">
			<!-- TODO check with get_da_object -->
			<!-- TODO translate -->	
			<p>You can select the width of the pic you will add, and it's align with the text</p>
			<p><label>Width : </label><input id="image_width"/></p>
			<p><label>Align : </label>
				<select id="image_align">
					<option value="">None</option>
					<option value="left">Left</option>
					<option value="right">Right</option>
					<option value="center">Center</option>
				</select>
			</p>
			<div><% @current_user.get_items_of_type('images').each do |img| %>			
				<%= link_to image_tag(img.image.url(:thumb)), 
							"javascript:;", 
							:picSrc => img.image.url%>
			<%end%></div>
		</div>
		
		<div id="upload_image">
			<p>Select a file to upload to the server. This file will be inserted as an Image item in the web site</p>
			<form 	target="image_fck_upload" 
					action="/admin/ck_uploads?type=image" 
					method="post" 
					enctype="multipart/form-data">
				<%= file_field_tag "upload", :id => "image_file" %>
		        <button type="submit" class="submitButton"><span>upload</span></button>
			</form>
			<iframe id="image_fck_upload" name="image_fck_upload" style="display:none"></iframe>
		</div>
	</div>
</div>