<h1>New Permission</h1>


<% form_for(@permission) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', permissions_path %>
