<div id="content">
	<div id="area_CONTENUS">
		<div class="titre"><%= ArticFile.icon%><strong>Fichiers</strong></div>
		<% @current_objects.each do |co| %>
			<%= item_in_list co %>
		<% end %>
		<%= link_to "Ajouter un ficher", new_object_path, :class => "add_item" %>
	</div>
</div>
