<% item_show( :title => 'Fichier',  :object => @current_object ) do %>
	<h2>Fichier : <%= File.basename(@current_object.file_path) %></h2>
	<%= link_to "Télécharger", url_for_file_column(@current_object, :file_path) %><br />
<% end %>
