

<div>
  <b>Available permissions:</b><br><br>
  <% for permission in Permission.all - role.permissions %>
    <%= check_box_tag(role.name+"[available]"+"[#{permission.name}]", 1, checked=false) %>
    <b><%= permission.name %></b>
  <% end %>
  <br>
  <br>

</div>

<div>
  <b>Current permissions :</b><br><br>
  <% for per in role.permissions %>
    <%= check_box_tag(role.name+"[current]"+"[#{per.name}]", 1, checked=true) %>
    <b><%= per.name %></b>
  <% end %>
</div>

