<div>
  Available permissions :<br />
  <% for permission in Permission.all - role.permissions %>
    <%= check_box_tag(role.name+"[available]"+"[#{permission.name}]", 1, checked=false) %>
    <label><%= permission.name %></label>
  <% end %>
</div>

<br />

<div>
  Current permissions :<br />
  <% for permission in role.permissions %>
    <%= check_box_tag(role.name+"[current]"+"[#{permission.name}]", 1, checked=true) %>
    <label><%= permission.name %></label>
  <% end %>
</div>