<fieldset class="myform spaces">
  <legend>Roles and Permissions</legend>
  <%= link_to_remote 'New Role',
    :update => 'permissions',
    :url => '/roles/new'%><br /><br />
  <%= link_to_remote 'Permission',
    :update => 'permissions',
    :url => '/permissions/index'%>
</fieldset>
<fieldset class="myform">
  <div id="permissions">
    <div id="roles">
      <%= render :partial => "select_roles" %>
    </div>
  </div>
</fieldset>
