<%# TODO: Remove style attribute %>
<div style="border: 1px solid black; padding: 0.5em">
	<h1>Résumé de votre recherche</h1>
	Vous avez effectué une recherche sur :
	<%# TODO: Remove style attribute %>
	<span style="color:grey"><%= params[:search] %></span>
</div>