<div id="search_header">
  <h2><%= image_tag('/images/icons/search.png')%><%= I18n.t('layout.search.your_search_result') %></h2>
</div>

<br />Richirche<br /><br /><br />

<%= render :partial => @templatee, :layout => false %>
