<%= superadmin_tabs_generator() %>

<div class="objectListWithTab">
	<div class="blockCornerLeft"></div><div class="blockElementHeader sevH">
		<span id="item_count">Edit Roles</span>
	</div><div class="blockCornerRight"></div>

	<div class="contentList superadmin">

		<% form_for @role, 
					:url => superadmin_role_path(@role.id), 
					:builder => BlankFormBuilder, 
					:method => :put do |f| %>

  			<%= hidden_field_tag :id, @role.id %>

  			<%= render :partial => 'form', :locals => {:f => f} %>
			
			<button type="submit" class="submitButton"><span>Update</span></button>
		<% end %>
	</div>
</div>