<h1>Editing Role</h1>

<% form_for @role, :url => role_path(@role.id), :method => :put do |f| %>

  <%= hidden_field_tag :id, @role.id %>

  <%= render :partial => 'roles/form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


