<h1>New Role</h1>


<% form_for @role, :url => roles_path, :method => :post do |f| %>

  <%= render :partial => 'roles/form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
