<h1>New Role</h1>


<% remote_form_for(@role) do |f| %>

  <%= render :partial => 'roles/form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', roles_path %>
