<tr><td></td></tr>
<tr><td></td></tr>
<tr>
	<td valign="top" width="200px">
		<%= link_to_user object.user %> <Br /> le <%= object.created_at.l(:long) %>
	</td>
	<td valign="top">
		<%= object.text %>
	</td>
</tr>