<div class="comment_info">
	<%= link_to_user object.user %><br /><%=I18n.t('general.common_word.on1')%> <%= I18n.l object.created_at, :format => :long %>
</div>
<div class="comment_text">
	<%= object.text %>
</div>