<li>
	<%= image_tag 'item_icons/feed_item.png', :class => "test" %>
	&nbsp;<%= link_to object.title, object.link %><br />
    <%=I18n.t('general.common_word.on1')%> <%= I18n.l object.last_updated, :format => :long %><br />
    
</li>
