<div class="window hidden">
	<div>
		42 commentaires.
	</div>

	<div>
		<strong>Note :</strong> <%= Array.new(5, image_tag('icons/star.png')) %>
	</div>

	<div>
		<strong>Tags:</strong>
		<%= (1..3).collect { |i| item_tag("tag_#{i}") }.join(' ') %>
	</div>
	
	<div>
		<strong>Espaces:</strong>
		<%= object.workspaces.collect { |w| w.name }.join %>
	</div>
</div>