<h2>Récemment ajoutés</h2>

<% list.each do |object| %>
	<%= render :partial => "items/small_item_in_list", :object => object %>
<% end %>

<h2>Derniers commentaires</h2>

(...)

<h2>Dernières mises en ligne</h2>

(...)