<div id="area_POST">
	<div id="area_ADDED">
		<div class="txt_100_000"><strong>Les 5 derniers éléments ajoutés</strong></div><br>
		<% list[0..5].each do |e| %>
			<div class="item" onclick="window.location.href = '<%= item_path(e) %>'" onmouseout='this.removeClassName("over")' onmouseover='this.addClassName("over")'>
				<%= image_tag(e.icon) %> imageOne<br>
				<span class="txt_80_666">par <%= link_to_user(e.user) %> le <%= e.created_at.l(:long) %>
			</div>
		<% end %>
	</div>
	<div id="area_COMMENTS">
		<span class="titre"><strong>Les 5 derniers commentaires publiés</strong></span><br>
		<br>
	</div>
</div>