<p id="tags">
	<% remote_form_for Tag.new, :url => add_tag_item_path(@current_object), :loading => "$('ajax_loader').show();$('tag_name').writeAttribute('disabled')", :complete => "$('ajax_loader').hide();$('tag_name').writeAttribute('disabled', false);$('tag_name').value = ''" do |f| %>
		<strong>Tags:</strong>
		<%= image_tag 'ajax-loader.gif', :style => 'display:none', :id => 'ajax_loader' %>
		<span id="tag_list">
			<%= @current_object.tags.collect { |t| item_editable_tag(t) }.join(' ')  %>
		</span>
		<%= f.text_field :name, :size => 10 %>
		<%= image_submit_tag 'icons/add.png' %>
	<% end %>
</p>