<%
	items = if current_workspace
		GenericItem.from_workspace(current_workspace)
	else
		GenericItem.consultable_by(@current_user)
	end
 %>

<h4>Mon TOP élément</h4>
<ul id="top_elems" class="subsection_tabs without_img">  
	<li class="tab"><a href="#one">Les + commentés</a></li>  
    <li class="tab"><a href="#two">Les mieux notés</a></li>
</ul>
<div id="top_content">
  <div id="one">
    <ul class="top_box">
  	<%= render 	:partial => "items/item_in_top_box",
  				:collection => items.most_commented.to_a %>
  	</ul>
  </div>
  <div id="two">
    <ul class="top_box">
  	<%= render 	:partial => "items/item_in_top_box",
  				:collection => items.best_rated.to_a %>
  	</ul>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
	new Control.Tabs('top_elems'); 
</script>