<%
	if current_workspace
		items = GenericItem.from_workspace(current_workspace.id)
        feed_items = FeedItem.from_workspace(current_workspace.id)
	else
		items = GenericItem.consultable_by(current_user.id)
        feed_items = FeedItem.consultable_by(current_user.id)
	end
 %>

<h4><%=I18n.t('workspace.top_five_items')%></h4>
<ul id="top_elems" class="subsection_tabs without_img">  
	<li class="tab"><a href="#one">Most Commented</a></li>
    <li class="tab"><a href="#two">Best Rates</a></li>
    <li class="tab"><a href="#three">Feed Items</a></li>
</ul>
<div id="top_content">
  <div id="one">
    <ul class="top_box">
  	<%= render 	:partial => "items/item_in_top_box",
  				:collection => items.most_commented.to_a %>
  	</ul>
  </div>
  <div id="two">
    <ul class="top_box">
  	<%= render 	:partial => "items/item_in_top_box",
  				:collection => items.best_rated.to_a %>
  	</ul>
  </div>
  <div id="three">
    <ul class="top_box">
  	<%= render 	:partial => "items/feed_item_in_top_box",
  				:collection => feed_items.latest.to_a %>
  	</ul>
  </div>

</div>
<script type="text/javascript" charset="utf-8">
	new Control.Tabs('top_elems'); 
</script>