<%
	items = if current_workspace
		GenericItem.from_workspace(current_workspace)
	else
		GenericItem.consultable_by(@current_user)
	end
 %>

<%# NOTE: See http://livepipe.net/control/tabs for styling tabs %>
<%# NOTE: Jimmy is gay %>
<h4>Mon TOP élément</h4>
<ul id="top_elems" class="subsection_tabs">  
	<li class="tab"><a href="#one">Les + commentés</a></li>  
    <li class="tab"><a href="#two">Les mieux notés</a></li>
	<li class="tab"><a href="#three">Les + consultés</a></li>
</ul>
<div id="one"><p>
	<%= render 	:partial => "items/item_in_top_box",
				:collection => items.most_commented.to_a %>
</p></div>  
<div id="two"><p>
	<%= render 	:partial => "items/item_in_top_box",
				:collection => items.best_rated.to_a %>
</p></div>
<%# TODO: GenericItem.most_consulted missing %>
<div id="three"><p>
	<%= render 	:partial => "items/item_in_top_box",
				:collection => items.latest.to_a %>
</p></div>
<script type="text/javascript" charset="utf-8">
	new Control.Tabs('top_elems'); 
</script>