<h3><%= I18n.t 'layout.select_a_file' %></h3>
<%#= display_item_list_for_editor(params[:item_type])%>
	<%#= will_paginate @collection %>

<% @object.each do |object| %>
  <% if params[:item_type]=="images" || params[:item_type] =="videos" %>
  <%= link_to_function object.title,"javascript:SelectFile('" + object.media_type.url + "')"  %> <br> <br>
  <% else %>
  <%= link_to_function object.title,"javascript:SelectFile('" + article_path(object.id) + "')"  %> <br> <br>
  <% end %>
<% end %>`
