/* CSS Document */

body{padding:0; margin:0; background:url(/website_files/ecosun/images/main-bg.gif) 0 0 repeat-x  #FCFAE6; font:14px/20px Arial, Helvetica, sans-serif; color:#3D3C2C; font-weight:normal;}

div, p, h1, h2, h3, ul, img{padding:0px; margin:0px;}

ul{list-style-type:none;}



/* TOP PANEL */

#topPan{width:950px; height:96px; margin:0 auto; padding:0;}



#flash1 {

	width:240px;

	height:96px;

	background-position:center;

	float:left;

}

/* Menu Panel */

#topPan ul{

	height:96px;	

	margin:0;

	padding:0;

}



#topPan ul li{float:left; width:135px; display:block; text-align: center; }

#topPan ul li a{width:135px; height:35px; display:block; font:14px/14px  Arial, Helvetica, sans-serif; color:#2E4E00; background:url(/website_files/ecosun/images/menu-bg.gif) 0 0 repeat-x #F4F1DD; text-decoration:none; margin:0; padding:61px 0 0 0; }

#topPan ul li a:hover{ width:135px; display:block; background:url(/website_files/ecosun/images/menu-devider2.gif) 100% 0 no-repeat #FCFAE6; color:#2E4E00; text-decoration:none;}

#topPan ul li span{width:135px; height:35px; display:block; background:url(/website_files/ecosun/images/menu-devider1.gif) 100% 0 no-repeat #FCFAE6; color:#2E4E00; text-decoration:none; padding:61px 0 0 0; line-height:14px;}

/* /TOP PANEL */

/* HEADER PANEL */

#headerPan{width:950px; height:270px; position:relative; margin:0 auto; padding:0; margin-top:20px;}

#flash {

	width:631px;

	height:236px;

	float:left;

	margin-left:20px;

}

#headerPanleft{ width:237px; height:214px; float:left; margin-top:15px;}

#headerPan #ourblog{ float:left; width:237px; height:53px; position:relative; margin:0 auto; background:url(/website_files/ecosun/images/icon2-nor.gif) 0 0 no-repeat; }

#headerPan #ourblog a{text-decoration:none; display: block; font:16px/14px Arial, Helvetica, sans-serif ; color:#53c5e0; text-align:center; padding-top:18px; padding-left:13px; height:35px;}

#headerPan #ourblog a:hover{text-decoration:none; background:url(/website_files/ecosun/images/icon2-hover.gif) no-repeat 0 0; }

#headerPan #possib{ float:left; width:237px; height:53px; position:relative; margin:25px 0 0 0; background:url(/website_files/ecosun/images/icon3-nor.gif) 0 0 no-repeat;}

#headerPan #possib a{text-decoration:none; display:block; font:16px/14px Arial, Helvetica, sans-serif ; color:#53c5e0; text-align:center; padding-top:18px; height:35px; }

#headerPan #possib a:hover{text-decoration:none; background:url(/website_files/ecosun/images/icon3-hover.gif) no-repeat 0 0; }

#headerPan #solution{ float:left; width:237px; height:53px; position:relative; margin:25px 0 0 0; background:url(/website_files/ecosun/images/icon1-nor.gif) 0 0 no-repeat; }

#headerPan #solution a{text-decoration:none; display:block; font:16px/14px Arial, Helvetica, sans-serif ; color:#53c5e0; text-align:left; padding-top:18px; padding-left:80px; height:35px;}

#headerPan #solution a:hover{text-decoration:none; background:url(/website_files/ecosun/images/icon1-hover.gif) no-repeat 0 0;}

/* BODY PANEL */

#bodyPan{
	width:950px;
	min-height:100%;
	margin:0 auto;
	padding:0;
}

.body_class{
	width:auto;
	border:1px solid #DCDAC2;
	background:#fff;
	color:#3D3C2C;
	overflow:auto;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:40px;
    background:url(/website_files/ecosun/images/back.gif) #FCFAE6 no-repeat  right top ;
}

.body_class p{
	color:#3D3C2C;
	margin:0 auto;
	width:auto;
    }



/*Left Panel */

#leftPan{
	width:239px;
	height:460px;
	left:8px;
	margin:0;
	padding:0px;
	float:left;
}

#leftmemberPan{width:237px; height:46px; background: url(/website_files/ecosun/images/acc.jpg); color:#000; padding-top:150px; float:left;}

#leftmemberPan a{width:100%; text-align:center; height:20px;text-decoration:none; display:block; font:18px Arial, Helvetica, sans-serif bold xx-large ; color: #FFFFFF; padding:0 0 0 0px;}

#leftmemberPan a:hover{text-decoration: underline; color: #e78033;}

#leftmemberPan h2{height:48px; background:url(/website_files/ecosun/images/symbol4.gif) 0 0 no-repeat #fff; display:block; position:relative; padding:0 0 0 57px; margin:12px 0 20px 13px; font:16px/48px  Georgia,"Times New Roman", Times, serif; color:#5EA000; text-transform:uppercase;}

#leftmemberPan h2 span{background:#fff; color:#3D3C2C;}

#leftPan form{width:220px; height:108px; background:#EBE9D7; padding:0; margin:0 0 0 8px; color:#333227;}

#leftPan form label{width:72px; display:block; float:left; padding:14px 15px 0 16px; }

#leftPan form label.emailpadding{padding:2px 15px 0 16px;}

#leftPan form input{ float:left; display:block; width:101px; height:16px; margin:14px 0 9px 0}

#leftPan form input.fieldpadding{margin:2px 0 9px 0}

#leftPan h3{height:38px; background:#FCFAE6; display:block; float:right; padding:0 75px 0 0; margin:12px 0 10px 13px; font:16px/14px Arial, Helvetica, sans-serif, bold ; color: #3D3C2C;}

#leftPan ul{ display:block; float:right; width:150px; height:150px; padding-right:30px; padding-top:5px;}

#partners{ width:80px; height:60px;background: url(/website_files/ecosun/images/arrowpartners1.gif) no-repeat; padding-bottom:10px; float:left; margin-left:32px;} 

#partners a{text-decoration:none; display:block; width:80px; height:60px;}

#partners a:hover{text-decoration:none; background: url(/website_files/ecosun/images/arrowpartnershover1.gif) no-repeat 0 0;} 

#partners1{ width:80px; height:60px;background: url(/website_files/ecosun/images/globosol.gif) no-repeat; padding-bottom:10px;float:left; margin-left:10px;} 

#partners1 a{text-decoration:none; display:block; width:80px; height:60px;}

#partners1 a:hover{text-decoration:none; background: url(/website_files/ecosun/images/globosolhover.gif) no-repeat 0 0;}

#partners2{ width:80px; height:60px;background: url(/website_files/ecosun/images/arrowpartners2.gif) no-repeat;  float:left; margin-left:28px;} 

#partners2 a{text-decoration:none; display:block; width:80px; height:60px;}

#partners2 a:hover{text-decoration:none; background: url(/website_files/ecosun/images/arrowpartnershover2.gif) no-repeat 0 0;}

#partners3{ width:80px; height:60px;background: url(/website_files/ecosun/images/arrowpartners3.gif) no-repeat;float:left; margin-left:15px;} 

#partners3 a{text-decoration:none; display:block; width:80px; height:60px;}

#partners3 a:hover{text-decoration:none; background: url(/website_files/ecosun/images/arrowpartnershover3.gif) no-repeat 0 0;} 

#partners4{ width:80px; height:60px;background: url(/website_files/ecosun/images/capeco.gif) no-repeat; padding-bottom:10px;float:left; margin-left:28px;} 

#partners4 a{text-decoration:none; display:block; width:80px; height:60px;}

#partners4 a:hover{text-decoration:none; background: url(/website_files/ecosun/images/capecohover.gif) no-repeat 0 0;} 

#leftPango{width:220px; height:25px; float:left; border-top:1px solid #fff; background:#B0AD93; display:block; padding:0; margin:0; font-size:12px; color:#FFFFFA; line-height:23px; font-weight:bold;}

#leftPango p.textposition a{float:left; padding:0 0 0 20px; margin:0; text-decoration:none; color:#FFFFFA; background:#B0AD93;}

#leftPango p.textposition a:hover{text-decoration:underline; background:none;}

#leftPan form input.gobutton{float:right; background:url(/website_files/ecosun/images/arrow4.gif) no-repeat 30px 0 #63614F; border:none; width:45px; height:21px; display:block; margin:2px 0 0 0; padding:0 0 0 5px; text-decoration:none; color:#fff; font:14px/21px "Trebuchet MS",Arial, Helvetica, sans-serif; text-transform:uppercase; text-align:left;}

#leftPango a:hover{background:url(/website_files/ecosun/images/arrow4.gif) no-repeat 30px 1px #333229; text-decoration:none; color:#fff;}

/*/Left Panel */

/*Right Panel */

#rightPan{
	width:607px;
	float:left;
	border:1px solid #DCDAC2;
	background:#fff;
	color:#3D3C2C;
	overflow:auto;
	margin-left:30px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:40px;
}

#rightbodyPan{
	background:#FCFAE6;
	background-image:url(/website_files/ecosun/images/back.gif);
	background-repeat:no-repeat;
	background-position:right top;
	color:#3D3C2C;
	margin:0 auto;
	padding:20px;
	width:545px;
}

#rightbodyPan label {clear:both;
display:block;
float:left;
margin-top:10px;
width:100px;
font-size:90%;
}

#rightbodyPan input, #rightbodyPan textarea {
	margin-top:10px;	
	width:350px;
}

#rightbodyPan textarea{width:355px}

#rightbodyPan a, #rightbodyPan a :visited{
	color:#E66C29
}

#rightbodyPan a:hover{
	color:#F4C85B;
}

.submit{width:150px !important;margin-left:195px;}

#rightbodyPan h2{width:266px; height:31px; display:block; position: relative; background:#FCFAE6 ; padding:24px 0 0 0; font:28px/28px Geneva, Arial, Helvetica, sans-serif; color:#e78433; margin:20px 0 20px 50px ;}

#rightbodyPan p.redtext{color:#0379b8; font-size:18px; line-height:20px; padding:0 50px 26px;}

#rightbodymore{width:306px; height:25px; border:1px solid #fff; background:#B0AD93; display:block; padding:2px; margin:0 60px 0 80px; font-size:12px; color:#FFFFFA; line-height:25px; font-weight:bold;}

#rightbodymore p.textposition{float:left; padding:0 0 0 20px; margin:0;}

#rightbodymore a{float:right; background:url(/website_files/ecosun/images/arrow4.gif) no-repeat 58px 1px #63614F; width:66px; display:block; position:relative; margin:1px 0 0 0; padding:0 0 0 10px; height:23px; text-decoration:none; color:#fff; font:14px/23px "Trebuchet MS",Arial, Helvetica, sans-serif; text-transform:uppercase;}

#rightbodymore a:hover{background:url(/website_files/ecosun/images/arrow4.gif) no-repeat 58px 1px #333229; text-decoration:none; color:#fff;}

#rightbodyPan h3{width:268px; height:31px; display:block; position: relative; background:#FCFAE6; padding:24px 0 0 0; font:28px/28px Geneva, Arial, Helvetica, sans-serif; color:#e78433; margin:27px 0 20px 50px ;}

#rightbodyPan ul{width:328px; height:92px; position:relative; top:5px; left:80px; margin:0 0 30px 0;}

#rightbodyPan li{width:340px; background:url(/website_files/ecosun/images/arrow2.gif) 0 7px no-repeat; font:14px/24px Arial, Helvetica, sans-serif; padding:0 0 0 20px;}

#rightbodyPan li a{width:235px; height:60px; background:#FCFAE6; color:#CC0000; text-decoration:underline; line-height:24px;}

#rightbodyPan ul li a:hover{width:235px; height:60px;  text-decoration:none; line-height:24px;}

#rightbodyPan img{margin:0 10px 10px 0px;}

#rightbodymorenext{width:306px; height:25px; border:1px solid #fff; background:#B0AD93; display:block; padding:2px; margin:0 60px 0 80px; font-size:12px; color:#FFFFFA; line-height:25px; font-weight:bold;}

#rightbodymorenext p.textposition{float:left; padding:0 0 0 20px; margin:0;}

#rightbodymorenext a{float:right; background:url(/website_files/ecosun/images/arrow4.gif) no-repeat 58px 1px #63614F; width:66px; display:block; position:relative; margin:1px 0 0 0; padding:0 0 0 10px; height:23px; text-decoration:none; color:#fff; font:14px/23px "Trebuchet MS",Arial, Helvetica, sans-serif; text-transform:uppercase;}

#rightbodymorenext a:hover{background:url(/website_files/ecosun/images/arrow4.gif) no-repeat 58px 1px #333229; text-decoration:none; color:#fff;}



/* /BODY PANEL */



/* FOOTER PANEL */

#footerPan{clear:both; background:url(/website_files/ecosun/images/main-bg1.gif) 0 0 repeat-x; color: #FFFFFF; margin-top:20px;}

#footerPan table{
	width:950px;
	margin:0 auto;
	padding-top:7px;
}

#footerPan table a{ color: #000000; text-decoration:none;
}

#footerPan table a:hover{
color: #000000; text-decoration:underline;
}

#footerPan span{
	text-decoration:underline;
}

.notice{
	margin:20px 0;
	font-size:150%;
	color:#048CC0;
}


#footerPan li{ float:left; font:12px/15px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:normal;}

#footerPan ul li a{padding:0 10px; color:#FFFFFA; background:#B0AD93; text-decoration:none; }

#footerPan ul li a:hover{text-decoration:underline;}
