<h1>Mon Compte</h1>
<%= link_to 'Acceuil', :controller => :account, :action => :index %><br />
<%= link_to 'Mon Profil', user_path(current_user) %><br />
<%= link_to 'Mon contenu', :controller => :account, :action => :contents %>