<fieldset class="myform">
  <legend>Pictures management</legend>
 
<%= image_tag(url_for_file_column(@logo, 'picture_path', 'thumb')) if @logo.picture_path %><br />
<% form_for @logo, :url => user_picture_changing_path(current_user.id), :html => {:multipart => true} do |f| -%>
      <%= f.hidden_field :name, :value => "logo" %>
      <%= file_column_field 'picture', 'picture_path' %>
      <div class="buttons" id="area_BUTTONS" style="padding-top: 2em">
      <button type="submit" class="positive"><img src="/images/tick.png" alt=""/>Mettre à jour</button>
      <button type="reset" class="negative"><img src="/images/cross.png" alt=""/>Annuler</button>
     </div>
<% end %>

</fieldset>
