<% if ws_roles = object.container_roles.uniq and !ws_roles.empty? %>
  <div>
    <h1><%= I18n.t('home.index.title')%></h1>
    <% ws_roles.each do |r| %>
      <h4><%= I18n.t('general.common_word.role') + ' \'' + I18n.t('general.role.'+r.name) + '\''%></h4>
      <% CONTAINERS.each do |container| %>
		
      <ul>
        <% container.classify.constantize.allowed_user_with_container_role(object, r.name, container).each do |ws| -%>
          <li>
            <%= link_to ws.title, container_path(ws) %>
          </li>
        <% end -%>
      </ul>
      <% end %>
    <% end %>
  </div>
<% end %>
