<% if logged_in? -%>
  <div id="user-bar-greeting">Logged in as <%= link_to_current_user :content_method => :login %></div>
  <div id="user-bar-action"  >(<%= link_to I18n.t('user.logout'), logout_path, { :title => "Log out" }    %>)</div>
<% else -%>
  <div id="user-bar-greeting">Not logged in</div>
  <div id="user-bar-action"  ><%= link_to I18n.t('user.log_in'),  login_path,  { :title => "Log in" } %> /
                               <%= link_to I18n.t('user.signup'), signup_path, { :title => "Create an account" } %></div>
<% end -%>
