<% item_show( :title => I18n.t('general.file'),  :object => @current_object ) do %>
	<h2><%=I18n.t('general.file')%> : <%= File.basename(@current_object.file_path) %></h2>
	<%= image_tag("add.png")%> <%= link_to I18n.t('general.download'), url_for_file_column(@current_object, :file_path) %><br />
<% end %>
