<% item_show( :title => I18n.t('general.file'),  :object => @current_object ) do %>
  <h2><%=I18n.t('general.file')%> : <%= File.basename(@current_object.cmsfile.url.split("?")[0]) %></h2>
	<%= image_tag("add.png")%> <%= link_to I18n.t('general.download'),(@current_object.cmsfile.url.split("?")[0]) %><br />
<% end %>
