<% item_preview( :title => I18n.t('rss_feed.show.title'),  :object => object ) do %>

	URL : <%= object.url %><br /><br/>
	
	<h2><%= link_to_function "#{I18n.t('rss_feed.show.print_item')} (#{object.feed_items.size})", "{ if ($('itemss').visible()) $('itemss').writeAttribute('class', 'visible'); else $('itemss').writeAttribute('class', 'hidden'); }" %></h2>
	<div id='itemss' class='hidden' onload="Element.hide( this ) ">
	  <%= render :partial => "item", :collection => @feed_items %>
	  <%= will_paginate @feed_items %>
	</div>

<% end %>