<% item_show( :title => 'Feed source',  :object => @current_object ) do %>

<h2>URL</h2>
<%= @current_object.url %><br /><br/>

<h2><%= link_to_function "Print items", "if $('itemss').visible() $('itemss').show() else $('itemss').hide()" %></h2>
<div id='itemss' onload="$('itemss').hide()">
  <%= render :partial => "item", :collection => @feed_items %>
  <%= will_paginate @feed_items %>
</div>

<% end %>