<% item_show( :title => 'Feed source',  :object => @current_object ) do %>

URL : <%= @current_object.url %><br /><br/>

<h2><%= link_to_function "Print items (#{@current_object.feed_items.size})", "{ if ($('itemss').visible()) $('itemss').writeAttribute('class', 'visible'); else $('itemss').writeAttribute('class', 'hidden'); }" %></h2>
<div id='itemss' class='hidden' onload="Element.hide( this ) ">
  <%= render :partial => "item", :collection => @feed_items %>
  <%= will_paginate @feed_items %>
</div>

<% end %>