<% item_show( :title => 'Image',  :object => @current_object ) do %>
	<h2><%=I18n.t('general.picture')%></h2>
	<%= link_to(image_tag(@current_object.image.url(:medium)), @current_object.image.url.split("?")[0]) %>
<% end %>
