<style type="text/css" media="screen">
	.pubmed_item {
		background-color: #eeeeee;
	}
</style>

<div class="pubmed_item">

<h2><%= item.title %></h2>
<div class="description"><%= sanitize item.description, :tags => %w(p) %></div>
<div class="links">
	<%= link_to 'Importer dans Artic', new_publication_path(:pubmed_item_id => item.id), :style => 'float: left' %>
	&nbsp;&nbsp;
	<%= link_to 'Lien vers Pubmed', item.link %>
</div>

</div>