<h2><%= link_to request.name.capitalize, pubmed_source_url(request)%></h2>
  <%= request.created_at.l(:short) %><%=link_to "supprimer",pubmed_source_url(request),:method=>:delete,:confirm => "Are you sure you want to delete this item?" %>
<br>
