<h1>Mes Requêtes PubMed</h1><br />
<%= render :partial => "request", :collection => @current_objects %>

<fieldset>
          <legend>Ajout d'un flux RSS PubMed</legend><br>
              <%= render :partial => "form"%>
</fieldset>
