<h1>Mes Requêtes PubMed</h1><br />
<%= render :partial => "request", :collection => @current_objects %>
<br />
<%= will_paginate @current_objects %>
<br />
<%= "nanani = "+params[:page].to_s %>

<fieldset>
	<legend>Ajout d'un flux RSS PubMed</legend><br>
    <%= render :partial => "form"%>
</fieldset>
